@import "scss/config";

.block {
  @include make-spacer('p', 2);
  @include flex(center, center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
}

.content {
  background-color: var(--color-black);
  border-radius: rem(8px);
  border: rem(3px) solid var(--color-orange);
  overflow: hidden;
  min-width: rem(1150px);
}

.wrapper {
  @include make-spacer('mb', 4);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.header {
  @include flex(space-between, center);
  @include make-spacer('pl', 4);
  @include make-spacer('pr', 1);
  @include size(100%, rem(40px));

  background-color: var(--color-orange-900);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
  font-size: rem(14px);
}

.footer {
  @include flex(flex-end);
  @include make-spacer('p', 1);

  border-top: 1px solid #a7a7a7;
  gap: rem(5px);
}

.body {
  @include make-spacer('p', 4);
}

.title {
  @include flex(space-between, center);
  @include make-spacer('mb', 4);
}

.table {
  border: 1px solid #a7a7a7;
  border-radius: rem(8px);
  overflow: hidden;

  &.sm {

    .row {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.lg {

    .row {
      grid-template-columns: rem(100px) 1fr 1fr repeat(4, 100px);
    }
  }
}

.row {
  @include make-spacer('px', 4);

  display: grid;
  column-gap: rem(10px);
  align-items: center;
  border-top: 1px solid #a7a7a7;
  height: rem(53px);

  &:nth-child(even) {
    background-color: #323232;
  }

  &:nth-child(odd) {
    background-color: #272727;
  }

  &:first-child {
    border-top: 0;
  }
}

.cell {
  @include flex($align-items: center);
}

.scoreboard {
  @include make-spacer('mr', 2);
  @include make-spacer('px', 1);
  @include flex($align-items: center);

  border: 1px solid #808080;
  background-color: #363636;
  border-radius: rem(5px);
  overflow: hidden;
  min-width: rem(80px);
  height: rem(25px);
  text-align: center;
  font-weight: var(--typography-bold);
  line-height: 1;
  white-space: nowrap;
}

.icon {
  @include make-spacer('mr', 2);
  @include size(rem(20px));
}

.button {

  &.sm {

    button {
      @include size(rem(35px)!important)
    }
  }

  &.lg {

    button {
      @include size(rem(64px)!important)
    }
  }
}
