@import "scss/config";

.block {
  @include scroll;
  @include make-spacer('p', 2);

  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
  height: 100%;
}

.overflow {
  @include flex(center, center);
}

.content {
  place-items: center;
  position: relative;
  background-color: var(--color-black);
  border-radius: rem(8px);
  border: rem(3px) solid var(--color-orange);
  overflow: hidden;
  min-width: rem(600px);
  color: var(--color-white);
}

.wrapper {
  @include make-spacer('mb', 4);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.header {
  @include flex(space-between, center);
  @include make-spacer('pl', 4);
  @include make-spacer('pr', 1);
  @include size(100%, rem(40px));

  background-color: var(--color-orange-900);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
  font-size: rem(14px);
}

.footer {
  @include flex(flex-end);
  @include make-spacer('p', 1);

  border-top: 1px solid #a7a7a7;
  gap: rem(5px);
}

.body {
  @include make-spacer('p', 4);

  min-height: rem(150px);
}

.form {
  @include flex;
}

.field {
  @include make-spacer('px', 2);
  @include make-spacer('mr', 2);
  @include size(100%, rem(35px));

  background-color: var(--color-black);
  border-radius: rem(5px);
  border: 2px solid var(--color-orange);
  color: var(--color-white);

  &:focus {
    outline: 0;
  }
}

.title {
  @include flex(space-between, center);
  @include make-spacer('mb', 4);
}

.table {
  border: 1px solid #a7a7a7;
  border-radius: rem(5px);
  overflow: hidden;

  &.sm {

    .row {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.lg {

    .row {
      grid-template-columns: rem(80px) rem(100px) repeat(3, 1fr) rem(80px) rem(100px);
    }
  }

  &.single {

    .row {
      grid-template-columns: rem(80px) 1fr 1fr repeat(4, 100px);
    }
  }

  &.system {

    .row {
      grid-template-columns: rem(80px) 1fr 1fr repeat(3, 100px);
    }
  }

  &.center {

    .cell {
      text-align: center;
      justify-content: center;
    }
  }
}

.row {
  @include make-spacer('px', 4);

  display: grid;
  column-gap: rem(10px);
  align-items: center;
  border-top: 1px solid #a7a7a7;
  height: rem(35px);

  &:nth-child(even) {
    background-color: #323232;
  }

  &:nth-child(odd) {
    background-color: #272727;
  }

  &:first-child {
    border-top: 0;
  }

  &.head {
    text-transform: uppercase;
    font-weight: var(--typography-bold);
  }
}

.cell {
  @include flex($align-items: center);

  &.left {
    justify-content: flex-start!important;
  }
}

.scoreboard {
  @include make-spacer('mr', 2);
  @include make-spacer('px', 1);
  @include flex($align-items: center);

  border: 1px solid #808080;
  background-color: #363636;
  border-radius: rem(5px);
  overflow: hidden;
  min-width: rem(100px);
  height: rem(25px);
  text-align: center;
  font-weight: var(--typography-bold);
  line-height: 1;
  white-space: nowrap;
}

.icon {
  @include make-spacer('mr', 2);
  @include size(rem(20px));
}

.button {

  &.sm {

    button {
      @include size(rem(35px)!important)
    }
  }

  &.lg {

    button {
      @include size(rem(64px)!important)
    }
  }
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(25px);
  position: relative;
  width: 100%;

  span {

    &:nth-child(1) {
      text-align: right;

      &::before {
        @include absolute-center;

        content: '-'
      }
    }

    &:nth-child(2) {
      text-align: left;
    }
  }
}

.status {
  @include size(rem(10px), rem(25px));
  @include make-spacer('ml', 0);
  @include make-spacer('mr', 2);

  border: 1px solid #a7a7a7;

  &.win {
    background-color: var(--color-green);
  }

  &.lost {
    background-color: var(--color-red);
  }

  &.system_cancelled,
  &.cancelled {
    background-color: var(--color-orange-900);
  }
}

.state {
  @include size(rem(446px), rem(150px));

  display: none;
  position: absolute;
  top: rem(150px);
  left: rem(50px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotateZ(-20deg);

  &.system_cancelled,
  &.cancelled,
  &.paid {
    display: block;
  }
}
