@import 'scss/config';

.block {
  @include flex($wrap: wrap);

  margin-bottom: rem(12px);
}

.cell {
  @include flex(center, center);

  flex: 0 0 calc(100% / 9);
  height: rem(53px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  background-color: var(--color-thunder);

  &:nth-child(18n + 1),
  &:nth-child(18n + 2),
  &:nth-child(18n + 3),
  &:nth-child(18n + 4),
  &:nth-child(18n + 5),
  &:nth-child(18n + 6),
  &:nth-child(18n + 7),
  &:nth-child(18n + 8),
  &:nth-child(18n + 9) {
    background-color: var(--color-heavy-metal);
  }

  &:last-child,
  &:nth-child(9n) {
    border-right: 0;
  }

  &:last-child {
    @include make-spacer(p, 1);

    flex-grow: 1;
    border-bottom: 0;
    background-color: transparent;
  }

  @media (max-width: $min) {
    height: rem(40px);
  }
}

.button {
  @include button;

  @media (max-width: $min) {
    height: rem(30px);
    min-height: unset;
    font-size: rem(13px);
  }
}
