@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  @include flex(center, center);

  height: rem(54px);
  border-right: rem(1px) solid var(--color_border);
  border-bottom: rem(1px) solid var(--color_border);

  &:nth-child(-n + 10) {
    padding: rem(1px);
    height: rem(36px);
    overflow: hidden;

    @media (max-width: $min) {
      height: rem(26px);
    }
  }

  &:nth-child(10n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 10) {
    border-bottom: 0;
  }

  &:nth-child(2n + 10) {
    background-color: var(--color_thunder);
  }

  @media (max-width: $min) {
    height: rem(43px);
  }
}

.button {
  @include size(100%);

  svg {
    transform: rotateZ(90deg);
  }
}
