@import "scss/config";

.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  @include flex(center, center);

  height: rem(55px);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-thunder);

  &:nth-child(-n + 10) {
    height: rem(35px);
  }

  &:nth-child(2n + 10) {
    background-color: var(--color-heavy-metal);
  }
}

.button {
  @include size(100%);
  @include button;

  min-height: unset;
  border-radius: 0;
  background-image: linear-gradient(0deg, #111 0%, #3f3f3f 17%, #6d6d6d 51%, #6d6d6d 100%);

  svg {
    transform: rotateZ(90deg);
  }
}
