@import "scss/config";

.block {
  @include size(100%, 45px);
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);
  @include flex($align-items: center);

  position: relative;

  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);

    &::before {
      width: 4px;
    }
  }

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }
}

.icon {
  @include make-spacer('mr', 2);
  @include size(29px, 18px);

  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}
