@import "scss/config";

.block {
  @include flex($align-items: center);
  @include size(100%, var(--base-height-md));
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);

  position: relative;

  &.active,
  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);

    &::before {
      width: rem(4px);
    }
  }

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }
}

.icon {
  @include make-spacer('mr', 2);
  @include size(rem(29px), rem(18px));

  img {
    object-fit: cover;
  }
}
