@import "scss/config";

.block {
  border: 1px solid #a7a7a7;
  border-radius: rem(5px);
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-top: 1px solid #a7a7a7;
  height: rem(50px);

  &:first-child {
    border-top: 0;
  }

  &:nth-child(1) {
    background-color: #272727;
  }

  &:nth-child(2) {
    background-color: lighten(#272727, 10%);
  }
}

.cell {
  @include flex($align-items: center);
  @include make-spacer('px', 2);
  @include size(100%);

  &:nth-child(2) {
    justify-content: flex-end;
  }
}
