@import 'scss/config';

.block {
  @include make-spacer(p, 4);

  button {
    color: var(--color-white);
  }
}

.row {
  @include make-spacer(mb, 2);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(10px);
  align-items: center;

  &:last-child {
    @include make-spacer(mb, 0);
  }
}

.actions {
  @include flex(flex-end, center);

  gap: rem(10px);
}

.action {
  @include size(rem(38px));
}

.button {
  text-align: left;
}

.input {
  @include field;

  height: rem(38px);
}
