@import "scss/config";

.block {
  @include make-spacer('p', 4);

  button {
    color: var(--color-white);
  }
}

.row {
  @include make-spacer('mb', 2);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: rem(10px);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.actions {
  @include flex(flex-end, center);

  gap: rem(10px);

  button {
    width: rem(38px);
  }
}

.button {
  text-align: left;
}

.input {
  @include make-spacer('px', 2);
  @include size(100%, rem(38px));

  background-color: var(--color-black);
  border-radius: rem(5px);
  border: 2px solid var(--color-orange);
  color: var(--color-white);

  &:focus {
    outline: 0;
  }
}


