@import 'scss/config';

$color: #000;

.block {
  @include make-spacer(p, 4);

  max-width: rem(350px);
  font-family: Open Sans, sans-serif;
  font-size: rem(12px);
  color: $color;

  &.sm {
    @include make-spacer(p, 1);

    max-width: rem(220px);
    font-size: rem(11px);

    .logo {
      height: rem(50px);
    }

    .code {
      @include make-spacer(mb, 2);

      height: rem(80px);
      font-size: rem(16px);
    }

    .header {
      gap: rem(5px);
    }

    .body {
      @include make-spacer(py, 1);
    }

    .title {
      @include make-spacer(mb, 1);
    }

    .icon {
      @include make-spacer(mr, 1);
      @include size(rem(16px));
    }

    .info {
      width: 100%;

      li {
        @include make-spacer(mb, 1);
      }
    }

    .bet {
      @include make-spacer(py, 1);
    }

    .wrapper {
      @include make-spacer(mb, 1);

      > div {
        @include make-spacer(mr, 1);
      }
    }

    .text {
      @include make-spacer(mt, 2);
    }

    .copy {
      top: rem(140px);
      font-size: rem(60px);
    }
  }
}

.logo {
  @include size(100%, rem(60px));

  img {
    @include size(100%);

    display: block;
    object-fit: contain;
  }
}

.code {
  @include flex(center, center);
  @include make-spacer(mx, auto);
  @include make-spacer(mb, 2);

  height: rem(40px);
  font-size: rem(20px);
  text-align: center;
  overflow: hidden;
  max-width: rem(200px);

  svg {
    height: unset;
  }
}

.header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: rem(10px);
  align-items: center;
}

.body {
  @include make-spacer(py, 4);

  position: relative;
}

.title {
  @include make-spacer(mb, 1);

  text-align: center;
  text-transform: uppercase;
}

.icon {
  @include make-spacer(mr, 2);
  @include size(rem(20px));
}

.info {
  width: 100%;

  li {
    @include make-spacer(mb, 1);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    line-height: 1.2;

    &:last-child {
      @include make-spacer(mb, 0);
    }

    > div {

      &:nth-child(1) {
        text-align: left;
      }

      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

.bet {
  @include make-spacer(py, 1);

  border-top: rem(1px) solid $color;

  &:last-child {
    border-bottom: rem(1px) solid $color;
  }
}

.wrapper {
  @include flex($align-items: center);
  @include make-spacer(mb, 1);

  > div {
    @include make-spacer(mr, 1);
  }

  &:last-child {
    @include make-spacer(mb, 0);
  }
}

.teams {
  @include make-spacer(ml, half);

  display: grid;
  grid-template-columns: auto rem(10px) auto;
  align-items: center;
  text-align: center;
}

.odd {
  flex-grow: 1;
  text-align: right;
}

.text {
  @include make-spacer(mt, 2);

  text-align: center;
}

.copy {
  position: absolute;
  top: rem(140px);
  left: 50%;
  font-size: rem(100px);
  font-weight: var(--typography-extra-bold);
  color: rgba($color, 0.1);
  transform: translateX(-50%) rotateZ(-10deg);
}

.amount {
  text-align: right;
  flex-grow: 1;
}