@import "scss/config";

.block {
  @include flex(center, center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
}

.wrapper {
  @include make-spacer('mx', auto);
  @include make-spacer('p', 4);

  background-color: var(--color-black);
  border-radius: rem(8px);
  border: rem(3px) solid var(--color-orange);
  overflow: hidden;
  color: var(--color-white);
  max-width: 400px;
}

.title {
  @include make-spacer('mb', 4);

  color: var(--color-white);
}

.field {
  @include make-spacer('mb', 4);
  @include make-spacer('px', 2);
  @include size(100%, rem(45px));

  background-color: var(--color-black);
  border-radius: rem(5px);
  border: 2px solid var(--color-orange);
  color: var(--color-white);

  &:focus {
    outline: 0;
  }
}

.error {
  @include make-spacer('mb', 4);

  text-align: right;
  color: var(--color-red);
}

.button {
  @include flex(flex-end);

  button {
    @include size(rem(200px), rem(45px)!important);
  }
}
