@import 'scss/config';

.block {
  @include flex(center, center, column);

  position: fixed;
  inset: 0;
  z-index: $z-index-14;
  gap: rem(20px);

  @media (max-width: $min) {
    @include size(100vw, 100vh);
    @include make-spacer(p, 1);
  }
}

.wrapper {
  @include make-spacer(mx, auto);
  @include make-spacer(p, 4);

  width: 100%;
  max-width: rem(400px);
  border: rem(3px) solid var(--color_orange);
  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-black);

  @media (max-width: $min) {
    @include make-spacer(p, 2);
  }
}

.row {
  @include flex(space-between, center);
  @include make-spacer(mb, 4);

  gap: rem(20px);

  &:last-child {
    @include make-spacer(mb, 0);
  }

  @media (max-width: $min) {
    @include make-spacer(mb, 2);
  }
}

.button {
  @include size(100%, rem(45px));
}

.title {
  color: var(--color-white);
}

.field {
  @include make-spacer(px, 2);
  @include size(100%, rem(45px));

  border: rem(2px) solid var(--color_orange);
  border-radius: var(--border-radius);
  color: var(--color-white);
  background-color: var(--color-black);
}

.toggle {
  @include make-spacer(ml, auto);
  @include make-spacer(mr, 0);

  display: block;
  color: var(--color-white);
}

.keyboard {
  @include transition(all);

  width: 80%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;

  @media (max-width: $min) {
    display: none;
  }

  &.show {
    max-height: rem(500px);
    opacity: 1;
    visibility: visible;
  }
}

:global {

  .simple-keyboard {

    &.custom {
      @include make-spacer(p, 4);

      border: rem(3px) solid var(--color_orange);
      background-color: rgba(0, 0, 0, 0.2);

      .hg-button {
        @include flex(center, center);

        position: relative;
        height: rem(50px);
        border-width: rem(1px);
        border-style: solid;
        border-color: var(--color-black);
        color: var(--color-white);
        background: var(--color_thunder) linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);

        &::before {
          position: absolute;
          top: rem(1px);
          right: rem(1px);
          left: rem(1px);
          height: rem(12px);
          border-radius: rem(inherit);
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
          content: '';
        }

        &:hover {
          border-color: var(--color_red);
          background: var(--gradient-active);
        }

        &:active {
          border-color: var(--color_primary);
          background: var(--gradient-hover)
        }
      }
    }
  }
}
