@import "scss/config";

.block {
  @include flex(center, center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
}

.wrapper {
  @include make-spacer('mx', auto);
  @include make-spacer('p', 4);

  background-color: var(--color-black);
  border-radius: rem(8px);
  border: rem(3px) solid var(--color-orange);
  overflow: hidden;
  color: var(--color-white);
  max-width: 400px;
}

.title {
  @include make-spacer('mb', 4);

  color: var(--color-white);
}

.field {
  @include make-spacer('mb', 4);
  @include make-spacer('px', 2);
  @include size(100%, rem(45px));

  background-color: var(--color-black);
  border-radius: rem(5px);
  border: 2px solid var(--color-orange);
  color: var(--color-white);

  &:focus {
    outline: 0;
  }
}

.error {
  @include make-spacer('mb', 4);

  text-align: right;
  color: var(--color-red);
}

.button {
  @include make-spacer('mr', 0);
  @include make-spacer('ml', auto);
  @include make-spacer('p', 1);
  @include size(rem(200px), rem(45px));

  display: block;
  position: relative;
  border-radius: rem(5px);
  background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
  background-color: #3fa025;
  border: 1px solid #113808;
  color: var(--color-white);

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(8px);
    border-radius: rem(5px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    content: '';
  }
}
