@import "scss/config";

.block {
  @include flex(center, center);
  @include size(100%);

  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--material);
  z-index: 12;
}

.wrapper {
  @include size(rem(100px));

  display: block;
  position: relative;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--link);
  animation: spin 2s linear infinite;
}

.wrapper {

  &:before {
    top: rem(5px);
    left: rem(5px);
    right: rem(5px);
    bottom: rem(5px);
    border: 3px solid transparent;
    border-top-color: var(--link-hover);
    animation: spin 3s linear infinite;
  }

  &:after {
    top: rem(15px);
    left: rem(15px);
    right: rem(15px);
    bottom: rem(15px);
    border: 3px solid transparent;
    border-top-color: var(--link-disabled);
    animation: spin 1.5s linear infinite;
  }

  &::after,
  &::before {
    position: absolute;
    border-radius: 50%;
    content: '';
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
