@import 'scss/config';

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--color-white);
}

.cell {
  @include make-spacer(p, 1);
  @include flex(center, center);

  gap: rem(10px);
  border-right: rem(1px) solid var(--color-border);

  &:nth-child(odd) {
    background-color: var(--color-thunder);
  }

  &:last-child {
    border-right: 0;
  }
}
