@import 'scss/config';

.block {
  border: rem(1px) solid var(--color-border);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: rem(50px);
  border-top: rem(1px) solid var(--color-border);
  background-color: lighten(#272727, 10%);

  &:first-child,
  &:last-child {
    background-color: var(--color-mine-shaft);
  }

  &:first-child {
    border-top: 0;
  }
}

.cell {
  @include flex(center, center);
  @include make-spacer(px, 2);
  @include size(100%);

  position: relative;

  &:nth-child(2),
  &:nth-child(3) {
    justify-content: flex-end;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.scale {
  @include size(100%);

  position: absolute;
  top: 0;
  bottom: 0;

  div {
    height: 100%;
  }

  &.default {
    right: 0;
    left: 0;

    div {
      background-color: rgba(#0362b3, 0.5);
    }
  }

  &.down {
    left: 0;

    div {
      @include make-spacer(mr, 0);
      @include make-spacer(ml, auto);

      background-color: rgba(#f00, 0.5);
    }
  }

  &.up {
    right: 0;

    div {
      background-color: rgba(#157b15, 0.5);
    }
  }
}
