@import 'scss/config';

.block {
  @include make-spacer(p, 2);

  display: grid;
  position: fixed;
  inset: 0;
  z-index: $z-index-14;
  grid-template-columns: 1fr rem(257px);
  align-items: flex-start;
  flex-grow: 1;
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color_background);
  column-gap: rem(10px);
}

.info,
.meta {
  z-index: 1;
}

.info {
  display: grid;
  position: absolute;
  top: rem(10px);
  grid-template-columns: 1fr rem(95px);
  align-items: center;
  gap: rem(20px);
  width: auto;
}

.meta {
  position: absolute;
  bottom: rem(10px);
  right: rem(10px);
}

.decor,
.video {
  @include size(100%);
  @include absolute-filled;

  display: block;
  object-fit: cover;
}

.decor {
  z-index: 1;
}
