@import 'scss/config';

.block {
  @include size(rem(690px), rem(50px));

  align-self: flex-end;

  @media (max-width: $min) {
    @include size(100%, rem(40px));
  }
}

.button {
  @include flex(center, center, column);
  @include size(rem(90px), rem(50px));
  @include make-spacer(pt, 1);

  gap: rem(5px);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: rem(11px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  text-shadow: none;
  color: var(--nav_color);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

  &.active {
    background-color: var(--nav_active);
    pointer-events: none;
  }

  @media (max-width: $min) {
    @include size(100%, rem(40px));

    gap: rem(3px);
    font-size: rem(10px);
  }
}

.item {
  @media (max-width: $min) {
    padding-right: rem(2px);
    padding-left: rem(2px);
  }
}

.icon {
  @include size(rem(20px));

  @media (max-width: $min) {
    @include size(rem(16px));
  }
}

:global {
  @import 'scss/plugin/slider';

  .slick-slider {
    @include size(100%);

    padding: 0 rem(15px);

    @media (max-width: $min) {
      @include make-spacer(px, 0);
    }
  }

  .slick-list,
  .slick-slide {
    @include size(100%);

    overflow: hidden;
  }

  .slick-arrow {
    @include make-spacer(m, 0);
    @include size(0);

    position: absolute;
    top: rem(23px);
    border-right: rem(8px) solid transparent;
    border-bottom: rem(8px) solid currentColor;
    border-left: rem(8px) solid transparent;
    font-size: 0;
    color: var(--nav_color);

    @media (max-width: $min) {
      display: none!important;
    }

    &::after {
      display: none;
    }

    &.slick-next {
      right: 0;
      transform: rotateZ(90deg);
    }

    &.slick-prev {
      left: 0;
      transform: rotateZ(-90deg);
    }
  }
}
