@import 'scss/config';

.block {
  @include size(rem(700px), rem(55px));

  transform: translateY(rem(11px));

  @media (max-width: $min) {
    width: rem(320px);
  }
}

.button {
  @include flex(center, center, column);
  @include size(rem(90px), rem(50px));

  padding-top: rem(5px);
  padding-bottom: rem(9px);
  border-radius: rem(10px);
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  text-shadow: none;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

  &.active {
    background-color: var(--color-yellow);
    pointer-events: none;
  }
}

.icon {
  @include make-spacer('mb', half);
  @include size(rem(20px));
}

:global {
  @import 'scss/plugin/slider';

  .slick-slider {
    @include size(100%);

    padding: 0 rem(15px);
  }

  .slick-list,
  .slick-slide {
    @include size(100%);

    overflow: hidden;
  }

  .slick-track {
    gap: rem(10px);
    height: 100%;
  }

  .slick-arrow {
    @include make-spacer('m', 0);
    @include size(rem(20px), rem(30px));

    position: absolute;
    top: rem(8px);
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M11.303 8l11.394 7.997L11.303 24z'/%3E%3C/svg%3E");
    background-size: cover;

    &::after {
      display: none;
    }

    &.slick-next {
      right: 0;
    }

    &.slick-prev {
      left: 0;
      transform: scaleX(-1);
    }
  }
}
