@import 'scss/config';

.block {
  @include make-spacer(px, 1);
  @include make-spacer(py, half);

  display: inline-block;
  border-radius: rem(3px);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-white);
  background-color: var(--color-primary);

  &.sm {
    font-size: rem(9px);
  }
}
