@import 'scss/config';

.block {
  @include make-spacer(p, 2);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  overflow: hidden;
  background-color: var(--color-green-100);
}

.video {
  @include size(100%);
  @include absolute-filled;

  display: block;
  object-fit: cover;
}

.footer {
  @include transition(all, 0.5s);
  @include make-spacer(px, 2);
  @include flex($align-items: center);

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  gap: rem(10px);
  height: rem(70px);
  border-top: rem(2px) solid var(--color-yellow);
  background: #ffd76d linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;

  &.active {
    opacity: 1;
  }
}
