@import "scss/config";

.block {
  position: relative;
  min-height: rem(300px);
}

.row {
  @include make-spacer('mb', 2);
  @include make-spacer('pl', 1);
  @include make-spacer('pr', 2);

  display: grid;
  grid-template-columns: rem(50px) 1fr rem(80px) rem(100px);
  column-gap: rem(5px);
  align-items: center;
  overflow: hidden;
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-align: center;
  color: var(--color-orange);
}

.item {
  @include make-spacer('mb', 2);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}
