@import 'scss/config';

.block {
  @include odd;
  @include size(100%);

  &.vertical {
    flex-direction: column;

    .numbers {
      @include make-spacer('mb', 1);
    }
  }

  &.horizontal {
    @include make-spacer('pl', 4);

    gap: rem(5px);
    flex-direction: row;
    justify-content: flex-start;

    @media (max-width: $min) {
      @include make-spacer('pl', 2);
    }
  }
}

.market {
  @include make-spacer('mr', 2);
}

.numbers {
  @include flex($align-items: center);

  gap: rem(5px);
}
