@import 'scss/config';

.block {
  @include flex(center, center);

  position: relative;
  border: rem(1px) solid var(--color-primary-900);
  border-radius: var(--border-radius);
  font-size: rem(13px);
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--gradient-hover);
  cursor: pointer;

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(12px);
    border-radius: rem(inherit);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%);
    content: '';

    @media (max-width: $min) {
      height: rem(6px);
    }
  }

  svg {
    @include size(70%);
  }

  &:hover,
  &.active {
    border-color: var(--color-red)!important;
    background: var(--gradient-active)!important;
  }

  &.green-dark {
    border-color: #15490a;
    background: #0b5a07;
  }

  &.disabled {
    border-color: var(--color-thunder);
    background: var(--gradient-disabled);
    pointer-events: none;
  }

  &.grey {
    border-color: var(--color-black);
    background: var(--color-mine-shaft);
  }

  &.red {
    border-color: #8b0e26;
    background: #d6233c;
  }

  &.blue {
    border-color: #1d4c89;
    background: #1b79c9;
  }

  &.olive {
    border-color: #113808;
    background: #3fa025;
  }

  @media (max-width: $min) {
    font-size: rem(11px);
  }
}
