@import 'scss/config';

.block {
  position: relative;
  width: 100%;
  border-width: rem(1px);
  border-style: solid;
  color: var(--color-white);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(12px);
    border-radius: rem(inherit);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    content: '';
  }

  &.sm {
    @include make-spacer('p', 1);

    height: rem(25px);
    border-radius: rem(3px);
    font-size: rem(13px);

    &::before {
      height: rem(3px);
    }
  }

  &.md {
    @include make-spacer('p', 1);

    height: rem(38px);
    border-radius: rem(5px);

    &::before {
      height: rem(5px);
    }
  }

  &.lg {
    @include make-spacer('p', 2);

    height: rem(64px);
    border-radius: rem(8px);
  }

  &.wide {
    @include make-spacer('p', 2);

    height: 100%;
    border-radius: rem(5px);
  }

  &.grey {
    border-color: #000;
    background-color: var(--color-thunder);
  }

  &.red {
    border-color: #8b0e26;
    background-color: #d6233c;
  }

  &.blue {
    border-color: #1d4c89;
    background-color: #1b79c9;
  }

  &.olive {
    border-color: #113808;
    background-color: #3fa025;
  }

  &.green {
    border-color: #15490a;
    background-color: #0b5a07;
  }
}
