@import 'scss/config';

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-white);
}

.cell {
  @include make-spacer(px, 2);
  @include flex(center, center);

  gap: rem(10px);
  height: rem(45px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  background-color: var(--color-thunder);

  &:nth-child(even) {
    background-color: var(--color-heavy-metal);
  }

  &.center {
    justify-content: center;
  }
}
