@import 'scss/config';

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  @include make-spacer(p, 1);
  @include flex(center, center, column);

  gap: rem(10px);
  border-right: rem(1px) solid var(--color_border);

  &:nth-child(odd) {
    background-color: var(--color_thunder);
  }

  &:last-child {
    border-right: 0;
  }
}
