@import "scss/config";

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-white);

  &.alt {
    @include wrapper;

    grid-template-columns: repeat(4, 1fr);
    background-color: var(--color-thunder);
  }
}

.cell {
  @include make-spacer(px, 2);
  @include flex(center, center);

  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  height: rem(40px);
}
