@import "../../scss/config";

.list {
  @include make-spacer('py', 4);
}

.item {
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-border);
  }
}
