@import 'scss/config';

.header {
  @include make-spacer(my, 2);

  width: fit-content;
  min-height: rem(92px);
  padding-left: rem(270px);
}

.wrapper {
  position: relative;
  flex-grow: 1;
}

.sort {
  @include make-spacer(mt, 1);
  @include make-spacer(mb, 2);
  @include flex($align-items: center);
}

.market {
  @include button;
  @include make-spacer(mr, 1);
  @include size(rem(43px));

  &:last-child {
    @include make-spacer(mr, 0);
  }
}
