@import 'scss/config';

.block {
  @include flex($direction: column);
  @include size(100%);

  position: relative;
  font-weight: var(--typography-bold);
  text-transform: uppercase;

  @media (max-width: $min) {
    height: unset;
  }
}

.info {
  @include size(rem(250px), rem(97px));

  display: grid;
  position: absolute;
  top: rem(43px);
  grid-template-columns: 1fr rem(95px);
  align-items: center;
}

.body {
  @include flex($direction: column);

  position: relative;
  flex-grow: 1;
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    display: block;
    width: auto;
  }
}

.tab {
  @include flex($align-items: center);
}

.link {
  @include link;

  flex-direction: column;
}
