@import 'scss/config';

.block {
  @include flex($direction: column);
  @include size(100%);

  position: relative;
  font-weight: var(--typography-bold);
  text-transform: uppercase;

  @media (max-width: $min) {
    @include make-spacer(p, 1);
    @include scroll;

    flex-grow: 1;
    height: auto;
  }
}

.info {
  @include size(rem(250px), rem(97px));

  display: grid;
  position: absolute;
  top: rem(43px);
  grid-template-columns: 1fr rem(95px);
  align-items: center;

  @media (max-width: $min) {
    @include size(rem(220px), rem(70px));

    top: 37px;
    grid-template-columns: 1fr rem(70px);
  }
}

.body {
  @include flex($direction: column);

  position: relative;
  flex-grow: 1;
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    width: auto;
  }
}

.tab {
  @include flex($align-items: center);

  gap: rem(2px);
}

.link {
  @include size(rem(80px), rem(35px));

  @media (max-width: $min) {
    height: rem(30px);
  }
}
