@import 'scss/config';

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: calc(100% - rem(40px));
  color: var(--color-white);
}

.column {
  @include flex($direction: column);

  height: 100%;

  &:last-child {

    .cell {
      border-right: 0;
    }
  }
}

.cell {
  @include flex(center, center, column);

  flex: 1;
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);

  &:nth-child(odd) {
    background-color: var(--color-thunder);
  }

  &:nth-child(even) {
    background-color: var(--color-heavy-metal);
  }

  &:last-child {
    border-bottom: 0;
  }
}
