@import "scss/config";

.block {
  position: relative;
}

.head {
  @include make-spacer('p', 2);

  text-transform: uppercase;
}

.wrapper {
  overflow-x: auto;
  background-color: var(--material);
}

.overflow {
  min-width: 480px;
}

.table {
  border: 1px solid var(--border);
}

.row {
  display: grid;
  grid-template-columns: 80px minmax(150px, 1fr) 100px minmax(150px, 1fr);
  align-items: center;
  border-bottom: 1px solid var(--border);
  height: 45px;
  font-size: 14px;

  &:nth-child(odd) {
    background-color: var(--primary);
  }

  &:first-child {
    font-weight: var(--typography-bold);
  }

  &:last-child {
    border-bottom: 0;
  }
}

.cell {
  @include flex(center, center);

  text-align: center;
  text-transform: capitalize;

  &.column {
    flex-direction: column;
  }

  &.accent {
    color: var(--text-for-material);
  }
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  align-items: center;
  justify-content: center;
}

.score {

  &.accent {
    color: var(--text-for-material);
  }
}

.error {
  @include flex(center, center);
  @include make-spacer('p', 4);

  min-height: 100px;
  background-color: var(--primary);
}
