@import "scss/config";

.block {
    @include size(100%);
    @include flex(center, center, column);
}

.wheel {
    @include size(rem(500px));

    position: relative;
    border-radius: 50%;
    background-size: cover;
    background-color: var(--color-white);
    overflow: hidden;

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    circle {
        fill: transparent;
    }
}

.layer-2,
.layer-3,
.layer-4,
.layer-5,
.container {
    @include absolute-filled;

    background-size: cover;
    z-index: 2;
}

.layer-3 {
    z-index: 2;
}

.layer-2,
.layer-4,
.container {
    will-change: transform;
}

.ball {
    @include size(rem(14px));

    position: absolute;
    border-radius: rem(7px);
    background: var(--color-white) radial-gradient(circle at rem(5px) rem(5px), var(--color-white), var(--color-white));
    box-shadow: rem(1px) rem(1px) rem(4px) var(--color-black);
    transform: translateY(-116px);
    top: 50%;
    left: 50%;
    margin: rem(-7px);
    will-change: transform;
}

.number {
    @include flex(center, center);
    @include absolute-filled;

    z-index: 2;
    font-size: rem(110px);
}
