@import 'scss/config';

.block {
  @include flex($direction: column);

  position: relative;
  height: 100%;
  overflow: hidden;
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.ticker,
.content {
  pointer-events: none;
}

.wrapper,
.content {
  @include flex($direction: column);

  position: relative;
  overflow: hidden;
}

.wrapper {
  flex-grow: 1;
}

.content {
  z-index: 1;
  height: 100%;
}

.table {
  @include make-spacer(p, 2);

  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.ticker {
  @include flex($align-items: center);

  position: relative;
  flex-shrink: 0;
  height: rem(58px);
  border-top: rem(2px) solid var(--color-yellow);
  border-bottom: rem(2px) solid var(--color-yellow);
  overflow: hidden;
  background: #ffd76d linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.winner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: rem(350px);
}

:global {
  @import 'scss/plugin/slider';

  .slick-slider {
    @include size(100%);
  }

  .slick-list,
  .slick-slide {
    @include size(100%);

    overflow: hidden;

    & > div {
      height: 100%;
    }
  }

  .slick-track {
    height: 100%;
  }
}
