@import 'scss/config';

.block {
  @include flex(center, center, column);
  @include size(rem(95px));

  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--gradient-hover);

  @media (max-width: $min) {
    @include size(rem(70px));
  }
}

.top {
  font-size: rem(22px);
  font-weight: var(--typography-bold);

  @media (max-width: $min) {
    font-size: rem(16px);
  }
}

.bottom {
  min-height: rem(25px);
  font-size: rem(14px);

  @media (max-width: $min) {
    font-size: rem(12px);
  }
}
