@import 'scss/config';

.header {
  @include flex(center, center);

  gap: rem(10px);

  @media (max-width: $min) {
    gap: rem(4px);
  }
}

.body {
  @include make-spacer(pt, 2);

  @media (max-width: $min) {
    @include make-spacer(pt, 1);
  }
}

.button {
  @include button;
  @include make-spacer(px, 4);

  width: auto;

  &.disabled {
    pointer-events: auto;
  }

  @media (max-width: $min) {
    @include make-spacer(mt, 1);
    @include make-spacer(px, 2);

    flex-grow: 1;
    height: rem(30px);
    min-height: unset;
    font-size: rem(12px);
  }
}
