@import 'scss/config';

.block {
  margin-top: rem(85px);
  font-size: rem(13px);
  text-align: center;
  color: var(--color-white);
}

.sort {
  @include make-spacer(mb, 3);
  @include flex($align-items: center);

  height: rem(30px);
  gap: rem(2px);
}

.market {
  height: rem(30px);
  flex-grow: 1;
  font-size: rem(10px);
}

.wrapper {
  @include wrapper;
}

.head {
  position: relative;
  margin-left: rem(135px);
  border-top: rem(1px) solid var(--color-border);
  height: rem(30px);
}

.columns {
  @include flex($align-items: center);

  height: 100%;
}

.label {
  flex: 1;
}

.legend {
  position: absolute;
  top: rem(-15px);
  right: 0;
  left: 0;
}

.row {
  border-top: rem(1px) solid var(--color-border);

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(odd) {
    background-color: var(--color-mine-shaft);
  }

  &:first-child {
    border-top: 0;
  }
}
