@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: 1fr 150px;
  align-items: center;
  column-gap: rem(10px);

  @media (max-width: $min) {
    grid-template-columns: 1fr rem(100px);
    align-items: flex-start;
    column-gap: rem(4px);
  }
}

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--color-white);

  @media (max-width: $min) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cell {
  border-right: rem(1px) solid var(--color_border);

  &:last-child {
    border-right: 0;
  }

  &:nth-child(3) {
    @media (max-width: $min) {
      border-right: 0;
    }
  }

  &:nth-last-child(n + 4) {
    @media (max-width: $min) {
      border-bottom: rem(1px) solid var(--color_border);
    }
  }
}

.button {
  height: rem(48px);

  @media (max-width: $min) {
    height: 50%;
  }
}

.odd {
  @include odd;
}
