@import 'scss/config';

.block {
  display: grid;
  position: relative;
  grid-template-columns: 1fr rem(357px);
  column-gap: rem(10px);
}

.column {
  position: relative;
  height: 100%;
  overflow: hidden;

  &:nth-child(2) {
    @include make-spacer(pb, 1);
  }
}
