@import "scss/config";

.block {
  @include make-spacer('pl', 4);

  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
}

.info {
  display: grid;
  grid-template-columns: 1fr rem(95px);
  align-items: center;
  position: absolute;
  top: rem(115px);
  width: rem(250px);
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    width: auto;
  }
}

.tab {
  @include flex($align-items: center);
}

.link {
  @include flex(center, center);
  @include size(rem(90px), rem(35px));
  @include make-spacer('mr', 1);

  border-radius: rem(8px);
  border: 1px solid #17591b;
  background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
  background-color: var(--color-green);
  opacity: 0.5;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: rem(13px);

  &:last-child {
    @include make-spacer('mr', 0);
  }

  &:hover,
  &.active {
    opacity: 1;
  }
}

.body {
}

.table {
  display: none;

  &.active {
    display: block;
  }
}

.sort {
  @include make-spacer('p', 2);
  @include make-spacer('mb', 2);
  @include flex($align-items: center);

  padding-left: rem(275px);
}

.market {
  @include flex($align-items: center);
  @include make-spacer('mr', 1);
  @include make-spacer('px', 5);

  background-color: #0e0e0e;
  background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
  border-radius: rem(10px);
  border: 3px solid var(--color-black);
  height: rem(55px);
  color: var(--color-green-900);
  font-weight: var(--typography-bold);
  font-size: rem(13px);
  text-transform: uppercase;

  &:last-child {
    @include make-spacer('mr', 0);
  }

  &.active {
    background-color: #dc5366;
    color: var(--color-white);
  }
}

.dropdown {
  @include make-spacer('p', 2);

  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: rem(270px);
  z-index: 11;
  background-color: #272727;
  color: var(--color-white);

  &.active {
    display: block;
  }

  .meta {
    @include make-spacer('mx', auto);

    max-width: rem(350px);
  }
}

.wrapper {
  position: relative;
  border: 2px solid var(--color-orange);
  border-radius: rem(10px);
  overflow: hidden;

  .row {
    border-bottom: 1px solid #a7a7a7;
    height: rem(53px);
    text-align: center;

    &:nth-child(even) {
      background-color: #323232;
    }

    &:nth-child(odd) {
      background-color: #272727;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .column {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(-3px);
      width: rem(1px);
      background-color: rgba(255, 255, 255, 0.2);
      content: '';
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }

  .odds {
    gap: rem(5px);
  }
}

.row {
  display: grid;
  grid-template-columns: rem(35px) rem(215px) 1fr;
  column-gap: rem(10px);
  align-items: center;
  color: var(--color-white);

  &.head {
    padding-left: rem(2px);
    padding-right: rem(2px);
    margin-bottom: rem(2px);
    height: rem(37px);

    .cell,
    .odds,
    .column {
      height: 100%;
    }

    .column {
      height: 100%;
      border-top: 1px solid var(--color-white);
      border-right: 1px solid var(--color-white);
      border-bottom: 1px solid #577859;

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.meta {
  display: grid;
  align-items: center;
  text-align: center;
  font-size: rem(15px);
  color: var(--color-white);

  &.sm {
    cursor: pointer;
    grid-template-columns: rem(40px) 1fr rem(20px) 1fr rem(40px) rem(35px);
    font-size: rem(15px);
  }

  &.lg {
    grid-template-columns: rem(40px) 1fr rem(20px) 1fr rem(40px);
    font-size: rem(20px);
  }

  &.disabled {
    opacity: 0.3;
  }

  &.active {
    opacity: 1;

    .toggle {
      transform: rotateZ(180deg);
    }
  }
}

.toggle {
  @include make-spacer('mr', 0);
  @include make-spacer('ml', auto);
  @include size(rem(30px));

  color: var(--color-white);
}

.odds {
  @include flex;

  &.hide {
    opacity: 0;
  }
}

.column {
  @include flex(center, center);

  position: relative;
  flex: 1;
  gap: rem(7px);
}

.odd,
.label {
  flex: 1;
}

.legend {
  @include absolute-center-top(rem(-15px));
}

.logo {
  @include make-spacer('p', 1);
  @include size(rem(40px));

  img {
    object-fit: contain;
  }
}

.goals {
  @include flex(space-between);
}

.outcomes,
.outcome {
  flex: 1;
}

.list {
  @include flex;
}

.button {
  @include make-spacer('mx', auto);

  margin-top: rem(5px);
  max-width: rem(110px);

  button {
    font-size: rem(12px);
  }
}
