*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  min-width: var(--min-width);
  overflow: hidden;
}

menu {
  @include make-spacer('p', 0);
}

button {
  @include reset-button;
}

hr {
  @include make-spacer('m', 0);

  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  @include make-spacer(m, 0);
  @include make-spacer(p, 0);
}

picture,
svg,
img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;
}
