@import 'scss/config';

.block {
  @include scroll;
  @include make-spacer('p', 2);

  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  height: 100%;
  background-color: var(--color-green-100);
}

.overflow {
  @include flex(center, center);
}

.content {
  position: relative;
  min-width: rem(600px);
  border: rem(3px) solid var(--color-orange);
  border-radius: rem(8px);
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-black);
  place-items: center;
}

.wrapper {
  @include make-spacer('mb', 4);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.header {
  @include flex(space-between, center);
  @include make-spacer('pl', 4);
  @include make-spacer('pr', 1);
  @include size(100%, rem(40px));

  font-size: rem(14px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  background-color: var(--color-orange-900);
}

.footer {
  @include flex(flex-end);
  @include make-spacer('p', 1);

  gap: rem(5px);
  border-top: 1px solid var(--color-border);
}

.body {
  @include make-spacer('p', 4);

  position: relative;
  min-height: rem(150px);
}

.form {
  @include flex;
}

.field {
  @include make-spacer('px', 2);
  @include make-spacer('mr', 2);
  @include size(100%, rem(38px));

  border: 2px solid var(--color-orange);
  border-radius: rem(5px);
  color: var(--color-white);
  background-color: var(--color-black);

  &:focus {
    outline: 0;
  }
}

.title {
  @include flex(space-between, center);
  @include make-spacer('mb', 4);
}

.table {
  border: 1px solid var(--color-border);
  border-radius: rem(5px);
  overflow: hidden;

  &.sm {

    .row {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.lg {

    .row {
      grid-template-columns: rem(80px) rem(100px) repeat(3, 1fr) rem(80px) rem(100px);
    }
  }

  &.single {

    .row {
      grid-template-columns: rem(80px) 1fr 1fr repeat(4, 100px);
    }
  }

  &.system {

    .row {
      grid-template-columns: rem(80px) 1fr 1fr repeat(3, 100px);
    }
  }

  &.center {

    .cell {
      justify-content: center;
      text-align: center;
    }
  }
}

.row {
  @include make-spacer('px', 4);
  @include make-spacer('py', 1);

  display: grid;
  align-items: center;
  min-height: rem(35px);
  border-top: 1px solid var(--color-border);
  column-gap: rem(10px);

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(odd) {
    background-color: var(--color-mine-shaft);
  }

  &:first-child {
    border-top: 0;
  }

  &.head {
    font-weight: var(--typography-bold);
    text-transform: uppercase;
  }
}

.cell {
  @include flex($align-items: center);

  &.left {
    justify-content: flex-start !important;
  }
}

.scoreboard {
  @include make-spacer('mr', 2);
  @include make-spacer('px', 1);
  @include flex($align-items: center);

  height: rem(25px);
  border: rem(1px) solid #808080;
  border-radius: rem(5px);
  font-weight: var(--typography-bold);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: #363636;
}

.icon {
  @include make-spacer('mr', 2);
  @include size(rem(20px));
}

.button {

  &.sm {

    button {
      @include size(rem(35px) !important);
    }
  }

  &.md {

    button {
      @include size(rem(38px) !important);
    }
  }

  &.lg {

    button {
      @include size(rem(64px) !important);
    }
  }
}

.score {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(25px);
  width: 100%;

  span {

    &:nth-child(1) {
      text-align: right;

      &::before {
        @include absolute-center;

        content: '-';
      }
    }

    &:nth-child(2) {
      text-align: left;
    }
  }
}

.status {
  @include size(rem(10px), rem(25px));
  @include make-spacer('ml', 0);
  @include make-spacer('mr', 2);

  border: 1px solid var(--color-border);

  &.system_cancelled,
  &.cancelled {
    background-color: var(--color-orange-900);
  }

  &.win {
    background-color: var(--color-green);
  }

  &.lost {
    background-color: var(--color-red);
  }
}

.state {
  @include size(rem(446px), rem(150px));

  display: none;
  position: absolute;
  top: rem(150px);
  left: rem(50px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transform: rotateZ(-20deg);

  &.system_cancelled,
  &.cancelled,
  &.paid {
    display: block;
  }
}
