@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: rem(10px);
}

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--color-white);
  background-color: var(--color-thunder);
}

.cell {
  border-right: 1px solid var(--color-border);

  &:last-child {
    border-right: 0;
  }
}

.button {
  @include button;
}

.odd {
  @include odd;

  background: none;
}
