@import "scss/config";

.block {
  @include flex($direction: column);

  position: relative;
  height: 100%;
  border: rem(3px) solid var(--color-orange-900);
  border-radius: rem(9px);
  overflow: hidden;
  background-color: #1b1b1b;
}

.row {
  @include make-spacer(px, 2);

  display: grid;
  grid-template-columns: rem(25px) rem(40px) 1fr 1fr auto;
  flex: 1;
  align-items: center;
  border-top: rem(1px) solid var(--color-border);
  font-size: rem(15px);
  overflow: hidden;
  color: var(--color-white);

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(odd) {
    background-color: var(--color-mine-shaft);
  }

  &:first-child {
    border-top: 0;
  }
}

.cell {
  overflow: hidden;
}

.states {
  display: grid;
  grid-template-columns: repeat(5, rem(24px));
  column-gap: rem(5px);
}

.state {
  @include flex(center, center);
  @include size(rem(24px));

  font-size: rem(12px);

  &.w {
    background: var(--color-green);
  }

  &.l {
    background-color: var(--color-red);
  }

  &.d {
    background: var(--color-orange-900);
  }
}

.logo {
  @include make-spacer('p', 1);
  @include size(rem(30px));

  img {
    object-fit: contain;
  }
}
