@import 'scss/config';

.header {
  @include flex($align-items: center);
  @include make-spacer(my, 2);

  flex-shrink: 0;
  min-height: rem(92px);
  padding-left: rem(270px);
}

.wrapper {
  flex-grow: 1;
}

.live {
  @include make-spacer(p, 2);
  @include flex(center, center);
  @include size(100%);
  @include wrapper;

  font-size: rem(52px);
  color: var(--color-orange);

  * {
    animation: blink 1.5s infinite;
  }
}

@keyframes blink {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.market {
  @include button;
  @include size(auto, rem(42px));
  @include make-spacer(px, 2);
  @include make-spacer(mr, half);

  width: auto;
  font-size: rem(14px);

  &:last-child {
    @include make-spacer(mr, 0);
  }

  &.disabled {
    pointer-events: auto;
  }
}
