@import 'scss/config';

.block {
  @include wrapper;
  @include flex($direction: column);

  height: 100%;
  background-color: var(--color-black);
}

.body {
  @include scroll;
  @include make-spacer(py, 2);

  flex-grow: 1;
  overflow-x: hidden;
}

.footer {
  @include make-spacer(p, 1);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(5px);
}

.button {
  height: rem(64px);
}

.print {
  display: none;
}

.empty {
  @include flex(center, center, column);
  @include make-spacer(p, 2);

  height: 100%;
  text-align: center;
  color: var(--color-white);

  img {
    @include size(rem(200px), rem(80px));
  }

  p {
    font-size: rem(20px);
  }
}

.icon {
  @include size(rem(50px));
  @include make-spacer(my, 2);
}
