@import "scss/config";

.block {
  @include make-spacer('p', 2);
  @include flex(center, center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
}

.body,
.header {

  .key {

    &:hover {
      background-color: #272727;
    }
  }
}

.content {
  @include make-spacer('p', 3);

  background-color: var(--color-black);
  border-radius: rem(12px);
  min-width: rem(350px);
}

.header {
  position: relative;
  border-radius: rem(3px);
  overflow: hidden;
  height: rem(65px);
  background-color: rgba(255, 255, 255, 0.3);

  button {
    @include size(auto!important);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: rem(25px);
    border-radius: 0 rem(3px) rem(3px) 0!important;
  }
}

.body {
  @include make-spacer('py', 3);
}

.field {
  @include make-spacer('pr', 12);
  @include size(100%);

  border: 0;
  background-color: transparent;
  color: var(--color-white);
  font-size: rem(28px);
  text-align: right;
}

.keyboard {
  @include make-spacer('mb', 3);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(2px);
}

.keys {
  @include flex;

  gap: rem(2px);
}

.key {
  flex: 1;
  font-size: rem(28px);
}
