@import 'scss/config';

.block {
  @include size(100%, rem(53px));

  display: grid;
  grid-template-columns: minmax(rem(100px), 1fr) 1.5fr;
  padding: rem(2px);
  border-radius: var(--border-radius);
  font-size: rem(10px);
  line-height: 1;
  overflow: hidden;
  color: var(--color-white);
  background: var(--color-black) linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

  &.bronze {
    background-color: #6e6929;

    .right {
      background-color: #d2b76f;
    }
  }

  &.silver {
    background-color: #697267;

    .right {
      background-color: #a8aca8;
    }
  }

  &.gold {
    background-color: #7a5f05;

    .right {
      background-color: #bf8609;
    }
  }
}

.left,
.right {
  @include make-spacer(px, 2);
  @include flex(center, center, column);

  gap: rem(5px);
  height: 100%;
}

.right {
  border-radius: var(--border-radius);
  overflow: hidden;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.amount {
  @include flex(null, center);
  @include make-spacer(px, 1);

  border-radius: inherit;
  font-size: rem(18px);
  font-weight: var(--typography-bold);
}

.symbol {
  @include make-spacer(ml, 'half');

  font-size: rem(10px);
  transform: translateY(3px);
}

.ticket {
  font-size: rem(18px);
  font-weight: var(--typography-bold);
}

.slider {
  @include size(100%, auto);

  text-align: center;
}
