@import 'scss/config';

.block {
  @include flex($align-items: center);

  gap: rem(10px);
  font-weight: var(--typography-bold);

  @media (max-width: $min) {
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-orange);
  }
}

.cell {
  @include flex($align-items: center);

  gap: rem(5px);
  max-width: rem(130px);
  font-size: rem(13px);

  @media (max-width: $min) {
    @include make-spacer(py, 1);
    @include make-spacer(px, 2);

    gap: rem(5px);
    width: 100%;
    max-width: unset;
    border-bottom: rem(1px) solid var(--color-yellow);
  }
}

.icon {
  @include size(rem(20px));

  flex-shrink: 0;
  color: currentColor;

  path {
    stroke: currentColor;
  }
}

.text {
  @include ellipsis;

  white-space: nowrap;
}
