@import "../../scss/config";

.block {
  @include flex($align-items: center);
}

.item {
  position: relative;
  color: var(--color-white);
  white-space: nowrap;

  &::after {
    @include make-spacer('mx', 2);

    content: '/';
  }

  &:last-child {

    &::after {
      display: none;
    }
  }
}
