@import 'scss/config';

.block {
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--color-white);

  &:first-child {
    height: rem(200px);
  }

  &:last-child {
    @include scroll;

    max-height: rem(338px);

    @media (max-width: $min) {
      grid-template-columns: repeat(3, 1fr);
      overflow-x: hidden;
      max-height: unset;
    }
  }
}

.column {

  .cell {

    &:nth-child(even) {
      background-color: var(--color-heavy-metal);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &:last-child {

    .cell {
      border-right: 0;
    }
  }
}

.cell {
  @include flex(center, center, column);

  height: rem(70px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  background-color: var(--color-thunder);

  &.sm {
    height: rem(42px);
  }
}
