@import 'scss/config';

.header {
  @include flex($align-items: center);
  @include make-spacer(my, 2);

  flex-shrink: 0;
  min-height: rem(92px);
  padding-left: rem(270px);
  gap: rem(2px);

  @media (max-width: $min) {
    @include make-spacer(pl, 0);
    @include make-spacer(mt, 0);
    @include make-spacer(mb, 1);

    grid-template-columns: 1fr;
    padding-top: rem(85px);
  }
}

.wrapper {
  flex-grow: 1;
}

.live {
  @include make-spacer(p, 2);
  @include flex(center, center);
  @include size(100%);
  @include wrapper;

  font-size: rem(52px);
  color: var(--color_orange);

  * {
    animation: blink 1.5s infinite;
  }
}

@keyframes blink {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.market {
  @include make-spacer(px, 2);

  height: rem(45px);

  @media (max-width: $min) {
    height: rem(30px);
  }
}
