@import 'scss/config';

.block {
  @include make-spacer(px, 2);
  @include size(100%, auto);

  display: grid;
  grid-template-columns: auto 1fr rem(200px);
  gap: rem(10px);
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
}

.left {
  display: grid;
  grid-template-columns: rem(250px) rem(95px);
  gap: rem(10px);
  align-items: center;
}

.center {
  @include flex($align-items: flex-start, $direction: column);

  gap: rem(10px);
}

.right {
  @include size(100%);
}

.league {
  @include size(100%);

  display: grid;
  grid-template-columns: rem(125px) auto;
  column-gap: rem(10px);
  align-items: center;
  overflow: hidden;
}

.img {
  width: 100%;
}

.weeks {
  @include flex($align-items: center);
}

.week {
  @include link;
  @include make-spacer(px, 2);

  width: auto;
}
