@import 'scss/config';

.block {
  @include make-spacer(px, 2);
  @include size(100%, rem(95px));

  display: grid;
  grid-template-columns: auto 1fr rem(200px);
  gap: rem(10px);
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
}

.left,
.right {
  height: 100%;
  overflow: hidden;
}

.left,
.league {
  display: grid;
  align-items: center;
  column-gap: rem(10px);
}

.left {
  grid-template-columns: rem(250px) rem(95px);
}

.center {
  @include flex($align-items: flex-start, $direction: column);

  gap: rem(10px);
}

.league {
  @include size(100%);

  grid-template-columns: rem(125px) auto;
  overflow: hidden;
}

.img {
  height: 100%;
  overflow: hidden;
}

.weeks {
  @include flex($align-items: center);

  gap: rem(5px);
  transform: translateX(rem(-3px));
}

.week {
  @include make-spacer(px, 2);

  height: rem(35px);
}
