@import 'scss/config';

.block {
  @include make-spacer(p, 2);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  overflow: hidden;
  background-color: var(--color-green-100);
}

.video {
  @include size(100%);
  @include absolute-filled;

  display: block;
  object-fit: cover;
}

