@import 'scss/config';

.block {
  @include make-spacer(p, 2);

  position: fixed;
  inset: 0;
  z-index: $z-index-14;
  overflow: hidden;
  background-color: var(--color-green-100);
}

.video {
  @include size(100%);
  @include absolute-filled;

  display: block;
  object-fit: cover;
}

