@import 'scss/config';

.block {
  @include make-spacer(px, 1);

  &.COLOR_COLOR,
  &.ROULETTE,
  &.KENO,
  &.DOGS_6,
  &.HORSES_8_VR {
    .bet {
      grid-template-columns: rem(20px) 1fr rem(50px) rem(58px) rem(25px);

      @media (max-width: $min) {
        grid-template-columns: 1fr rem(50px) rem(70px) rem(25px);
      }
    }
  }

  &.FOOTBALL,
  &.FOOTBALL_LEAGUE {
    &.lg {
      .bet {
        grid-template-columns: rem(20px) rem(85px) 1fr rem(50px) rem(58px) rem(25px);

        @media (max-width: $min) {
          grid-template-columns: rem(80px) 1fr rem(50px) rem(70px) rem(25px);
        }
      }
    }

    &.sm {
      .bet {
        grid-template-columns: rem(20px) rem(85px) 1fr rem(50px) rem(25px);

        @media (max-width: $min) {
          grid-template-columns: rem(80px) 1fr rem(70px) rem(25px);
        }
      }
    }
  }
}

.icon {
  @include size(rem(20px));

  color: var(--color-white);
}

.bet {
  display: grid;
  align-items: center;
  font-size: rem(12px);
  overflow: hidden;
  color: var(--color-white);
  column-gap: rem(5px);

  & > div {

    &:nth-child(1) {

      @media (max-width: $min) {
        display: none;
      }
    }
  }
}

.keyboard {
  @include flex(space-between);
  @include make-spacer(pt, 1);

  gap: rem(5px);
}

.key {
  height: rem(30px);
  flex: 1;
}

.market {
  @include flex($align-items: center, $wrap: wrap);

  gap: rem(5px);

  span {
    font-size: rem(12px);
  }
}

.odd {
  text-align: center;
}

.meta,
.field {
  @include size(100%, rem(25px));

  border: rem(1px) solid var(--color-border);
  border-radius: rem(5px);
  font-weight: var(--typography-bold);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--color-thunder);
}

.meta {
  @include flex($align-items: center);
  @include make-spacer(px, 1);
}

.close {
  @include size(rem(25px));
}

.odd {
  text-align: center;
}

.field {
  color: var(--color-white);
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}

.stake {
  @include make-spacer(py, half);
  @include make-spacer(px, 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: rem(13px);
  color: var(--color-white);
  background-color: var(--color-thunder);

  div {
    &:last-child {
      text-align: right;
    }
  }
}

.circles {
  @include flex($align-items: center, $wrap: wrap);

  gap: rem(5px);
}

.circle {
  @include circle;
}

.number {
  @include number;
}
