@import 'scss/config';

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--color-white);
}

.cell {
  @include make-spacer(px, 1);
  @include flex(center, center);

  gap: rem(10px);
  height: rem(46px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  font-size: rem(18px);

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(2n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 2) {
    border-bottom: 0;
  }
}
