@import 'scss/config';

.block {
  @include make-spacer(px, 1);
  @include make-spacer(py, half);

  display: inline-block;
  border-radius: rem(3px);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-orange);
  background-color: var(--color-green);

  &.sm {
    font-size: rem(10px);
  }

  &.md {
    font-size: rem(14px);
  }

  &.lg {
    font-size: rem(16px);
  }
}
