@import "scss/config";

.block {
  @include flex($direction: column);

  height: 100%;
}

.content {
  @include make-spacer('px', 2);
  @include make-spacer('py', 2);

  display: grid;
  grid-template-columns: 1fr rem(357px);
  column-gap: rem(10px);
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
}

.column {
  overflow: hidden;
  height: 100%;
}

.table {
  position: relative;
  min-height: rem(690px);
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
}

.banners {
  position: absolute;
  left: rem(390px);
}

.decor {
  @include absolute-filled;

  background-size: cover;
  background-position: 50% 50%;

  img {
    object-fit: cover;
  }

  &::before {
    @include absolute-filled;

    background-color: rgba(0, 0, 0, 0.7);
    content: '';
  }
}
