@import "scss/config";

.block {
  @include flex($direction: column);

  height: 100%;
}

.content {
  @include make-spacer('pr', 2);
  @include make-spacer('pb', 2);

  display: grid;
  grid-template-columns: 1fr rem(357px);
  column-gap: rem(10px);
  flex-grow: 1;
}

.column {
  //border: 1px solid red;
}
