@import "scss/config";

.block {
  @include flex(center, center);
  @include size(150px, 40px);

  background-color: var(--brand);
  font-size: 20px;
  font-weight: var(--typography-bold);
  color: var(--white)!important;
  letter-spacing: 2px;
}
