@import 'scss/config';

.block {
  @include make-spacer(px, 2);
  @include flex($align-items: center);

  gap: rem(15px);
  font-size: rem(17px);
  text-align: center;
  white-space: nowrap;
  color: var(--color-orange);

  &::before,
  &::after {
    @include size(100%, rem(1px));

    background-color: currentColor;
    content: '';
  }

  &.sm {
    height: rem(30px);
  }

  &.md {
    height: rem(40px);
  }

  @media (max-width: $min) {
    gap: rem(5px);
    font-size: rem(12px);
    height: rem(25px!important);
  }
}
