@import "scss/config";

.block {
  @include make-spacer('p', 10);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
}

.wrapper {
  @include size(100%);

  background-color: var(--color-black);
  border-radius: rem(8px);
  border: rem(3px) solid var(--color-orange);
  overflow: hidden;
}

.header {
  @include flex(space-between, center);
  @include make-spacer('pl', 4);
  @include make-spacer('pr', 1);
  @include size(100%, rem(40px));

  background-color: var(--color-orange-900);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
  font-size: rem(14px);
  color: var(--color-white);
}

.body {
  @include make-spacer('p', 4);
}

.container {
  @include make-spacer('mb', 4);

  color: var(--color-white);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.title {
  @include flex(space-between, center);
  @include make-spacer('mb', 4);
}

.button {

  &.sm {

    button {
      @include size(rem(35px)!important)
    }
  }
}
