@import 'scss/config';

.block {
  border: rem(1px) solid var(--color_border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: rem(50px);
  border-top: rem(1px) solid var(--color_border);

  &:first-child {
    border-top: 0;
  }

  &:nth-child(odd) {
    background-color: var(--color_mine_shaft);
  }

  &:nth-child(even) {
    background-color: var(--color_thunder);
  }

  @media (max-width: $min) {
    height: auto;
    min-height: rem(30px);
    font-size: rem(12px);
  }
}

.cell {
  @include flex($align-items: center);
  @include make-spacer(px, 2);
  @include size(100%);

  &:nth-child(2) {
    @include make-spacer(p, 1);

    justify-content: flex-end;
    text-align: right;
  }
}
