@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: rem(35px) rem(215px) 1fr;
  height: rem(53px);
  border-bottom: rem(1px) solid var(--color_border);
  text-align: center;
  color: var(--color-white);
  column-gap: rem(10px);
  transition: var(--default-transition);

  &:nth-child(even) {
    background-color: var(--color_thunder);
  }

  &:nth-child(odd) {
    background-color: var(--color_mine_shaft);
  }

  &:last-child {
    border-bottom: 0;
  }

  &.active {
    background: var(--gradient-active);
  }
}

.odds {
  @include flex;

  gap: rem(1px);
  height: 100%;
}

.odd {
  @include flex($justify-content: center, $direction: column);

  flex: 1;
  height: 100%;

  &.active {
    background: var(--gradient-active);
  }
}

.label {
  font-size: rem(12px);
  opacity: 0.8;
}

.meta {
  @include size(100%);

  display: grid;
  grid-template-columns: rem(40px) 1fr rem(40px) 1fr rem(40px);
  align-items: center;
  font-size: rem(15px);
  text-align: center;
  color: var(--color-white);
}

.position {
  @include flex(center, center);
  @include size(100%);
}

.score {
  display: grid;
  grid-template-columns: 1fr rem(5px) 1fr;
  font-weight: var(--typography-bold);
  color: var(--color_orange_900);
  column-gap: rem(5px);
}

.logo {
  @include make-spacer(p, 1);
  @include size(rem(40px));

  img {
    object-fit: contain;
  }
}
