@import 'scss/config';

.block {
  display: grid;
  position: relative;
  grid-template-columns: 1fr rem(300px);
  gap: rem(5px);
  width: 100%;
  overflow: hidden;

  @media (max-width: $min) {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  @include wrapper;

  &:nth-child(2) {
    @include flex($justify-content: space-between, $direction: column);

    background-color: var(--color-black);

    > .content {
      @include make-spacer('pt', 2);
      @include make-spacer('pb', 0);
    }
  }
}

.labels {
  display: grid;
  grid-template-columns: rem(216px) 1fr;
}

.button {
  @include button;
}

.content {
  @include make-spacer('px', 2);
  @include make-spacer('pt', 1);
  @include make-spacer('pb', 2);
}

.panel {
  @include make-spacer('py', 4);
  @include make-spacer('px', 3);
  @include flex(center, center, column);

  min-height: rem(115px);
  background-color: #333;

  @media (max-width: $min) {
    @include make-spacer(p, 2);

    min-height: unset;
  }
}

.subtitle {
  @include make-spacer('mb', 2);

  font-size: rem(13px);
  color: var(--color-white);
}

.quantity {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  column-gap: rem(5px);

  .button {
    @include size(rem(43px));
  }
}
