@import 'scss/config';

.block {
  @include make-spacer(p, 2);
  @include flex($direction: column);
  @include wrapper;

  width: 250px;
  background-color: rgba(#000, 40%);
}

.top {
  @include make-spacer(mb, 4);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;


  span {
    color: var(--color_orange_900);
  }
}

.img {
  @include make-spacer(mx, auto);
  @include size(rem(120px), auto);
}
