@mixin scroll {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-primary);
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid var(--color-secondary);
    border-radius: 3px;
    background-clip: content-box;
    background-color: var(--color-secondary);
  }

  &::-webkit-scrollbar-track {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
  }
}
