@mixin scroll {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: rem(5px);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-green);
  }

  &::-webkit-scrollbar-thumb {
    border: rem(1px) solid var(--color-green);
    background-clip: content-box;
    background-color: var(--color-green);
  }

  &::-webkit-scrollbar-track {
    border: rem(1px) solid var(--color-orange);
    background-color: var(--color-orange);
  }
}
