@import 'scss/config';

.block {
  @include flex($direction: column);
  @include wrapper;

  height: rem(100px);
  background-color: var(--color-mine-shaft);
}

.cell {
  @include flex(center, center);
  @include make-spacer(px, 2);
  @include make-spacer(py, 1);
}

.top {
  @include make-spacer(py, 1);

  display: grid;
  grid-template-columns: rem(50px) 1fr rem(50px);
  align-items: flex-start;
  border-bottom: rem(1px) solid var(--color-border);
}

.bottom {
  flex-grow: 1;
  background-color: var(--color-mine-shaft);
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr rem(40px) rem(20px) rem(40px) 1fr;
}

.score {
  &.win {
    font-weight: var(--typography-bold);
    color: var(--color-green-900);
  }
}

.icon {
  @include size(rem(40px), rem(15px));

  &.reverse {
    transform: scaleX(-1);
  }
}

.name {

  &.active {
    animation: blink-animation 1s infinite;
  }
}

@keyframes blink-animation {
  100% {
      color: var(--color-orange);
  }
}