@import 'scss/config';

.header {
  @include make-spacer(my, 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-shrink: 0;
  min-height: rem(92px);
  padding-left: rem(270px);
  column-gap: rem(40px);

  @media (max-width: $min) {
    @include make-spacer(pl, 0);
    @include make-spacer(mt, 0);
    @include make-spacer(mb, 1);

    grid-template-columns: 1fr;
    padding-top: rem(80px);
  }
}

.wrapper {
  flex-grow: 1;
}

.sort {
  @include make-spacer(mt, 1);
  @include make-spacer(mb, 2);
  @include flex($align-items: center);

  @media (max-width: $min) {
    @include make-spacer(my, 0);
  }
}

.market {
  @include button;
  @include make-spacer(mr, half);
  @include size(rem(43px));

  &:last-child {
    @include make-spacer(mr, 0);
  }

  @media (max-width: $min) {
    @include size(rem(30px));

    min-height: unset;
    font-size: rem(12px);
  }
}
