@import 'scss/config';

.header {
  @include make-spacer('my', 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-shrink: 0;
  min-height: rem(92px);
  padding-left: rem(270px);
  column-gap: rem(40px);
}

.wrapper {
  flex-grow: 1;
}

.sort {
  @include make-spacer(mt, 1);
  @include make-spacer(mb, 2);
  @include flex($align-items: center);
}

.market {
  @include button;
  @include make-spacer(mr, half);
  @include size(rem(43px));

  &:last-child {
    @include make-spacer(mr, 0);
  }
}
