@import 'scss/config';

.block {
  @include flex(center, center, column);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  height: 100%;
}

.shadow {
  @include absolute-filled;

  background-color: rgba(#09230a, 0.95);
}

.content {
  @include make-spacer(p, 4);
  @include wrapper;

  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: repeat(4, rem(90px));
  gap: rem(15px);
  justify-content: center;
  align-items: center;
}

.button {
  @include flex(space-between, center, column);
  @include size(rem(90px), rem(75px));
  @include make-spacer(py, 2);

  border-radius: rem(10px);
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  text-shadow: none;
  color: var(--color-white);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

  &:hover {
    background-color: var(--color-orange-900);
  }
}

.icon {
  @include size(rem(25px));
}
