@import 'scss/config';

.block {
  @include size(100%);

  display: grid;
  position: relative;
  grid-template-columns: rem(270px) 1fr;
  text-align: center;
}

.odd,
.label {
  flex: 1;
}

.left {
  padding-top: rem(45px);

  .row {
    display: grid;
    grid-template-columns: rem(35px) 1fr;
    align-items: center;
    column-gap: rem(10px);
  }

  .results {
    border-top: rem(3px) solid var(--color-orange-900);
    border-bottom: rem(3px) solid var(--color-orange-900);
    border-left: rem(3px) solid var(--color-orange-900);
    border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  }
}

.right {
  overflow: hidden;

  & > * {
    padding: 0;
  }

  .results {
    @include make-spacer(mb, 5);

    border-top: rem(3px) solid var(--color-orange-900);
    border-right: rem(3px) solid var(--color-orange-900);
    border-bottom: rem(3px) solid var(--color-orange-900);
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  }

  .row {
    @include flex;
  }

  .table {
    &:nth-child(n + 2) {
      .results {
        border-left: rem(3px) solid var(--color-orange-900);
        border-radius: var(--border-radius-lg);
      }

      .head {
        padding-left: rem(2px);
      }
    }
  }
}

.results {
  overflow: hidden;
}

.slide {
  padding-top: rem(8px);
  overflow: hidden;
}

.head {
  @include flex;

  position: relative;
  height: rem(37px);
  padding-right: rem(3px);

  .column {
    border-top: rem(1px) solid var(--color-border);
  }
}

.row {
  height: rem(53px);
  background-color: var(--color-thunder);
}

.column {
  @include flex(center, center);

  position: relative;
  flex: 1;
  height: 100%;
  border-right: rem(1px) solid var(--color-border);

  &:last-child {
    border-right: 0;
  }
}

.odd {
  @include odd;
}

.meta {
  @include make-spacer(px, 1);

  display: grid;
  grid-template-columns: rem(40px) 1fr rem(20px) 1fr rem(40px);
  align-items: center;
  height: rem(53px);
  font-size: rem(15px);
  background-color: var(--color-mine-shaft);
}

.legend {
  @include absolute-center-top(rem(-8px));
  @include make-spacer(px, 1);
  @include make-spacer(py, half);

  display: inline-block;
  z-index: 1;
  border-radius: var(--border-radius-sm);
  font-size: rem(10px);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.logo {
  @include make-spacer(p, 1);
  @include size(rem(40px));

  img {
    object-fit: contain;
  }
}

.states {
  @include flex(center, center);

  gap: rem(5px);
}

.state {
  @include make-spacer(mt, 1);
  @include size(rem(5px));

  border-radius: 50%;
  overflow: hidden;

  &.w {
    background-color: var(--color-green);
  }

  &.l {
    background-color: var(--color-red);
  }

  &.d {
    background: var(--color-orange-900);
  }
}
