@import "scss/config";

.block {
  @include make-spacer('py', 3);
  @include make-spacer('px', 4);
  @include flex($align-items: center, $direction: column);

  background-color: var(--material);

  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);
  }
}

.icon {
  @include make-spacer('mb', 2);
  @include size(40px);
}

.text {
  @include ellipsis;
}
