@import 'scss/config';

.block {
  display: grid;
  grid-template-columns: rem(20px) rem(115px) 1fr;
  align-items: center;
  height: rem(35px);
  text-align: center;
}

.columns {
  @include flex($align-items: center);

  height: 100%;
}

.meta {
  display: grid;
  grid-template-columns: 1fr rem(15px) 1fr rem(15px);
  gap: rem(2px);
  align-items: center;
  font-size: rem(13px);
  color: var(--color-white);
}

.toggle {
  @include size(rem(15px));
}

.logo {
  @include make-spacer(p, 1);
  @include size(rem(40px));

  img {
    object-fit: contain;
  }
}

.odd {
  flex: 1;
  height: 100%;
}
