@import "../../../scss/config";

.block {
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);
  @include flex($align-items: center);

  position: relative;
  cursor: pointer;
  height: 45px;

  &.active,
  &:hover {
    background-color: var(--primary);

    &::before {
      width: 4px;
    }

    .text,
    .icon {
      color: var(--text-for-material);
    }
  }

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }
}

.icon,
.country {
  @include make-spacer('mr', 2);
}

.icon {
  @include size(29px);
}

.country {
  @include size(29px, 16px);

  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}

.text {
  @include ellipsis;
}
