@import "scss/config";

.block {
  position: relative;
}

.top,
.center {
  @include make-spacer('p', 2);
}

.top,
.center,
.bottom {
  background-color: var(--material);
}

.center {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.toggle,
.link {
  @include size(24px);

  display: block;

  svg {
    @include size(100%);

    display: block;
    fill: var(--sub-text);
    pointer-events: none
  }

  &:hover {

    svg {
      fill: var(--text-for-material);
    }
  }
}

.options {
  display: grid;
  grid-gap: 10px;
  align-items: center;

  &.sm {
    grid-template-columns: 160px repeat(2, 1fr);
  }

  &.lg {
    grid-template-columns: 30px 1fr 150px;
  }
}

.meta {
  @include flex(flex-end, center);
}

.divider {
  @include size(1px, 24px);
  @include make-spacer('mx', 4);

  background-color: var(--sub-text);
}

.theme {
  @include make-spacer('ml', auto);
  @include flex($align-items: center);

  hr {
    @include size(1px, 24px);
    @include make-spacer('mx', 2);

    background-color: var(--sub-text);
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;
}
