@import "scss/config";

.block {
  @include flex;

  gap: rem(3px);
  height: rem(35px);

  &.lg {

    .banner {
      min-width: rem(120px);
    }
  }
}

.banner {
  flex: 1;
  min-width: rem(100px);
  height: 100%;
}
