@import 'scss/config';

.block {

  &.lg {
    margin-left: rem(-5px);

    .banner {
      min-width: rem(120px);
    }
  }
}

.banner {
  padding-left: rem(3px);
  flex: 1;
  min-width: rem(100px);
  height: rem(35px);

  @media (max-width: $min) {
    padding-left: 0;
    height: rem(30px);
  }
}
