@import "scss/config";

.table {
  @include wrapper;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: var(--color-white);
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border-bottom: 0;
  }
}

.cell {
  @include make-spacer('pl', 4);
  @include flex($align-items: center);

  border-right: 1px solid var(--color-border);
  background-color: #333233;
  gap: rem(5px);
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &:nth-child(7) {
    border-right: 0;
  }
}
