:root {
  --color-black: #000;
  --color-white: #fff;

  --color-orange: #ffd565;
  --color-orange-900: #e8b632;
  --color-yellow: #ffff8f;
  --color-green: #157b15;
  --color-green-900: #00ff00;
  --color-red: #c91e37;
}
