:root {
  --font-size: 1rem;
  --font-family: 'Open Sans', sans-serif;
  --font-family-code: 'Barcode', serif;
  --line-height: 1.5;
  --typography-regular: 400;
  --typography-bold: 700;
  --typography-extra-bold: 800;
}
