:root {
  --font-size: 1rem;
  --font-family: 'Open Sans', serif;
  --font-family-code: 'Libre Barcode 39', cursive;

  --line-height: 1.5;

  --typography-regular: 400;
  --typography-bold: 700;
  --typography-extra-bold: 900;
}
