@import 'scss/config';

.block {
  position: relative;
}

.tr {
  @include make-spacer(p, 1);

  display: grid;
  grid-template-columns: rem(50px) rem(60px) repeat(2, 60px) 1fr;
  align-items: center;
  height: rem(35px);
  border-bottom: rem(1px) solid var(--color-border);

  @media (max-width: $min) {
    @include make-spacer(px, 0);

    grid-template-columns: rem(40px) rem(50px) 1fr 1fr 2fr;
    height: unset;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.th {
  @include flex(center, center);

  min-height: rem(30px);
  font-size: rem(14px);
  text-align: center;
  color: var(--color-white);

  @media (max-width: $min) {
    font-size: rem(12px);
  }
}

.input {
  @include size(100%, rem(25px));

  position: relative;
}

.calculate {
  @include size(rem(22px));
  @include absolute-center-right(0);

  color: var(--color-white);
}

.field {
  @include make-spacer(pr, 6);
  @include size(100%);

  border: rem(1px) solid var(--color-border);
  border-radius: rem(5px);
  font-weight: var(--typography-bold);
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-thunder);
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}

.keyboard {
  @include make-spacer(px, 1);
  @include make-spacer(pt, 2);
  @include make-spacer(pb, 1);
  @include flex(space-between);

  gap: rem(5px);

  @media (max-width: $min) {
    @include make-spacer(pt, 1);
  }
}

.key {
  flex: 1;
}

.stake {
  @include make-spacer(py, half);
  @include make-spacer(px, 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: rem(13px);
  background-color: var(--color-thunder);
  color: var(--color-white);

  div {
    &:last-child {
      text-align: right;
    }
  }
}
