@import "scss/config";

.block {
  @include flex(center, center);
  @include make-spacer('p', 2);

  position: fixed;
  top: rem(57px);
  right: rem(370px);
  bottom: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 1);
}

.button {
  @include make-spacer('px', 4);
  @include make-spacer('py', 2);

  background-color: var(--color-green);
  border-radius: rem(5px);
  color: var(--color-white);
  text-transform: uppercase;
}
