@import 'scss/config';

.block {
  @include make-spacer(p, 1);

  text-align: center;

  &.default {
    @include wrapper;

    color: var(--color-white);

    @media (max-width: $min) {
      @include make-spacer(p, 1);

      font-size: rem(12px);
    }
  }
}
