@import 'scss/config';

.block {
  @include make-spacer('px', 4);
  @include make-spacer('py', 4);

  position: fixed;
  top: rem(-10px);
  left: 50%;
  z-index: 14;
  min-width: rem(780px);
  border: rem(2px) solid var(--color-orange);
  border-radius: rem(10px);
  text-align: center;
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-mine-shaft);
  transform: translateX(-50%);
}

.wrapper {
  @include flex($align-items: center);
}

.text {
  flex-grow: 1;
}

.button {
  @include make-spacer('p', half);
  @include size(rem(30px));

  position: relative;
  border: 1px solid #8b0e26;
  border-radius: rem(3px);
  color: var(--color-white);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-color: #d6233c;

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(8px);
    border-radius: rem(3px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    content: '';
  }
}
