@import 'scss/config';

.block {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--color-white);

  @media (max-width: $min) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cell {
  flex: 1;
  border-right: rem(1px) solid var(--color-border);

  &:last-child {
    border-right: 0;
  }

  &:nth-child(4) {
    @media (max-width: $min) {
      border-right: 0;
    }
  }

  &:nth-last-child(n + 3) {
    @media (max-width: $min) {
      border-bottom: rem(1px) solid var(--color-border);
    }
  }
}
