@import "scss/config";

.root {
  @include scroll;

  overflow-x: hidden;
  background-color: #09230a;
  min-width: var(--min-width);
  height: 100vh;
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
}

.main {
  height: 100%;
}

button,
a,
input {

  &:focus {
    outline: none;
  }
}

button,
a {
  @include transition(all);
}

button {
  text-shadow: 1px 1px 1px var(--color-black);
}
