@import "scss/config";

.root {
  @include scroll;

  background-color: var(--color-green-100);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
  min-height: rem(768px);
  min-width: rem(1366px);
  //height: 100vh;
  overflow: hidden;


  &.fixed {
    @include size(rem(1366px), rem(768px));

    position: fixed;
    transform-origin: left top;
  }
}

.main {
  height: 100%;
}

button,
a,
input {

  &:focus {
    outline: none;
  }
}

button,
a {
  @include transition(all);
}

button {
  text-shadow: 1px 1px 1px var(--color-black);
}
