@import 'scss/config';

.root {
  @include scroll;

  min-height: 100dvh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
  line-height: var(--line-height);
  background-color: var(--color-background);
  user-select: none;

  &.fixed {
    @include size(rem(1366px), rem(768px));

    position: fixed;
    min-width: rem(1366px);
    min-height: rem(768px);
    overflow: hidden;
    transform-origin: left top;
  }

  &.red {
    --color-orange: #ffd565;
    --color-orange-900: #e8b632;
    --color-green-900: #0f0;
    --color-border: #a2a2a2;
    --color-thunder: #323232;
    --color-heavy-metal: #262726;
    --color-mine-shaft: #272727;

    --color-yellow: #ffff8f;
    --color-green: #157b15;
    --color-red: #d60000;
    --color-primary: #222;
    --color-primary-900: #101010;
    --color-background: #222;
  }

  &.default {
    --color-orange: #ffd565;
    --color-orange-900: #e8b632;
    --color-green-900: #0f0;
    --color-border: #a7a7a7;
    --color-thunder: #323232;
    --color-heavy-metal: #262726;
    --color-mine-shaft: #272727;

    --color-yellow: #ffff8f;
    --color-green: #157b15;
    --color-red: #d60000;
    --color-primary: #00a900;
    --color-primary-900: #294329;
    --color-background: #09230a;
  }

  --gradient-disabled: linear-gradient(0deg, #111 0%, #3f3f3f 17%, #6d6d6d 51%, #6d6d6d 100%);
  --gradient-hover: linear-gradient(0deg, var(--color-primary-900) 0%, var(--color-primary) 52%, var(--color-primary) 100%);
  --gradient-active: var(--color-red) linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.main {
  height: 100%;
}

button,
a,
input,
select {

  &:focus {
    outline: none;
  }
}

button,
a {
  transition: all 0.2s ease-in-out;
}

button {
  text-shadow: rem(1px) rem(1px) rem(1px) var(--color-black);
}
