@import "scss/config";

.block {
  @include make-spacer('p', 10);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);

  &.active {
    display: block;
  }
}

.wrapper {
  @include size(100%);

  background-color: var(--color-black);
  border-radius: rem(8px);
  border: rem(3px) solid var(--color-orange);
  overflow: hidden;
}

.header {
  @include flex(space-between, center);
  @include make-spacer('pl', 4);
  @include make-spacer('pr', 1);
  @include size(100%, rem(40px));

  background-color: var(--color-orange-900);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
  font-size: rem(14px);
  color: var(--color-white);
}

.body {
  @include make-spacer('p', 4);
}

.container {
  @include make-spacer('mb', 4);

  color: var(--color-white);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.title {
  @include flex(space-between, center);
  @include make-spacer('mb', 4);
}

.table {
  border: 1px solid #a7a7a7;
  border-radius: rem(8px);
  overflow: hidden;

  &.lg {

    .row {
      grid-template-columns: repeat(3, 1fr) 35px;
    }
  }
}

.row {
  @include make-spacer('px', 4);

  display: grid;
  column-gap: rem(10px);
  align-items: center;
  border-top: 1px solid #a7a7a7;
  height: rem(53px);

  &:nth-child(even) {
    background-color: #323232;
  }

  &:nth-child(odd) {
    background-color: #272727;
  }

  &:first-child {
    border-top: 0;
  }
}

.action {
  @include make-spacer('p', 1);
  @include size(rem(35px));

  position: relative;
  border-radius: rem(5px);
  border-width: 1px;
  border-style: solid;
  background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
  color: var(--color-white);

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(8px);
    border-radius: rem(5px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    content: '';
  }

  &.close {
    background-color: #d6233c;
    border-color: #8b0e26;
  }

  &.save {
    background-color: #3fa025;
    border-color: #113808;
  }
}

.input,
.select {
  @include make-spacer('px', 2);
  @include size(100%, rem(38px));

  background-color: var(--color-black);
  border-radius: rem(5px);
  border: 2px solid var(--color-orange);
  color: var(--color-white);

  &:focus {
    outline: 0;
  }
}

.input {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.notification {
  color: var(--color-green);
}
