@import "scss/config";

.block {
  @include make-spacer(px, 2);

  display: grid;
  grid-template-columns: rem(25px) rem(30px) 1fr rem(30px) rem(10px) rem(30px) 1fr rem(30px);
  align-items: center;
  border-top: rem(1px) solid var(--color-border);
  overflow: hidden;
  font-size: rem(15px);

  &:nth-child(even) {
    background-color: #323232;
  }

  &:nth-child(odd) {
    background-color: #272727;
  }

  &:first-child {
    border-top: 0;
  }
}

.cell {
  overflow: hidden;
}

.logo {
  @include make-spacer(p, 1);
  @include size(rem(30px));

  img {
    object-fit: contain;
  }
}
