@import "scss/config";

.block {
  @include make-spacer('p', 10);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--color-green-100);
}

.wrapper {
  @include make-spacer('mx', auto);
  @include size(100%);

  max-width: rem(1200px);
  border: rem(3px) solid var(--color-orange);
  border-radius: rem(8px);
  overflow: hidden;
  background-color: var(--color-black);
}

.header {
  @include flex(space-between, center);
  @include make-spacer('pl', 4);
  @include make-spacer('pr', 1);
  @include size(100%, rem(40px));

  font-size: rem(14px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-orange-900);
}

.body {
  @include make-spacer('p', 4);
}

.container {
  @include make-spacer('mb', 4);

  color: var(--color-white);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.title {
  @include flex(space-between, center);
  @include make-spacer('mb', 4);
}

.table {
  border: 1px solid var(--color-border);
  border-radius: rem(5px);
  overflow: hidden;
}

.row {
  @include make-spacer('px', 4);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: rem(50px);
  border-top: 1px solid var(--color-border);
  column-gap: rem(10px);

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(odd) {
    background-color: var(--color-mine-shaft);
  }

  &:first-child {
    border-top: 0;
  }

  &.lg {
    height: auto;
  }
}

.button {

  &.sm {
    text-align: right;

    button {
      @include size(rem(35px)!important)
    }
  }
}

.toggle {
  color: var(--color-white);

  &:hover {
    color: var(--color-orange);
  }
}

.input,
.select {
  @include make-spacer('px', 2);
  @include size(100%, rem(38px));

  border: 2px solid var(--color-orange);
  border-radius: rem(5px);
  color: var(--color-white);
  background-color: var(--color-black);

  &:focus {
    outline: 0;
  }
}

.input {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}

.print {
  display: none;
}
