@import "scss/config";

.block {
  @include flex($direction: column);
  @include size(100%);

  cursor: pointer;
  border: 1px solid transparent;
  color: var(--color-white);
  text-align: center;
  font-weight: var(--typography-bold);

  &:hover {
    border-color: var(--color-red);

    .odd {
      background-color: var(--color-red);
    }
  }

  &.sm {

    .label {
      font-size: rem(14px);
    }

    .odd {
      font-size: rem(18px);
    }
  }

  &.active {
    border-color: var(--color-green);

    .odd {
      background-color: var(--color-green);
    }
  }

  .label,
  .odd {
    @include make-spacer('p', half);
  }

  .label {
    width: 100%;
    font-size: rem(16px);
  }

  .odd {
    font-size: rem(21px);
  }
}
