@import "scss/config";

.block {
  @include make-spacer('p', 4);
  @include flex($justify-content: center, $direction: column);
  @include size(100%);

  background-color: var(--material);
  min-height: rem(150px);
}

.row {
  @include size(100%, rem(25px));
  @include make-spacer('mb', 2);
  @include flex;

  gap: rem(10px);

  &:last-child {
    margin-bottom: 0;
  }
}

.cell {
  flex: 1;
  background-color: var(--primary);
  height: 100%;
}
