@import 'scss/config';

.block {
  @include make-spacer(p, 10);

  position: fixed;
  inset: 0;
  z-index: $z-index-13;
  background-color: var(--color-green-100);

  @media (max-width: $min) {
    @include make-spacer(p, 1);

    top: $nav;
    bottom: $footer;
  }
}

.wrapper {
  @include flex($direction: column);
  @include make-spacer(mx, auto);
  @include size(100%);

  max-width: rem(1200px);
  border: rem(3px) solid var(--color-orange);
  border-radius: rem(8px);
  overflow: hidden;
  background-color: var(--color-black);

  @media (max-width: $min) {
    border-radius: rem(3px);
    border-width: rem(1px);
  }
}

.header {
  @include flex(space-between, center);
  @include make-spacer(pl, 4);
  @include make-spacer(pr, 1);
  @include size(100%, rem(40px));

  flex-shrink: 0;
  font-size: rem(14px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-orange-900);

  @media (max-width: $min) {
    @include make-spacer(px, 1);

    height: rem(30px);
    font-size: rem(12px);
  }
}

.body {
  @include make-spacer(p, 4);

  flex-grow: 1;
  overflow: hidden;

  @media (max-width: $min) {
    @include make-spacer(p, 1);
  }
}

.button {
  &.sm {
    button {
      @include size(rem(35px) !important);

      @media (max-width: $min) {
        @include size(rem(25px) !important);
      }
    }
  }
}

.tab {
  @include flex($direction: column);
  @include size(100%);

  border: rem(1px) solid var(--color-border);
  border-radius: rem(5px);
  overflow: hidden;
  color: var(--color-white);

  @media (max-width: $min) {
    border-radius: rem(3px);
  }
}

.head {
  @include flex;

  flex-shrink: 0;
  height: rem(50px);
  border-bottom: rem(1px) solid var(--color-border);

  @media (max-width: $min) {
    height: rem(30px);
  }
}

.link {
  flex: 1;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--color-mine-shaft);

  @media (max-width: $min) {
    font-size: rem(12px);
  }

  &:hover {
    color: var(--color-white);
  }

  &.active {
    color: var(--color-orange);
  }
}

.content {
  @include make-spacer(p, 4);
  @include scroll;

  flex-grow: 1;
  background-color: var(--color-thunder);

  @media (max-width: $min) {
    @include make-spacer(p, 1);
  }
}
