@import 'scss/config';

.block {
  @include make-spacer(pt, 5);
  @include absolute-filled;

  z-index: $z-index-14;
  border: rem(3px) solid var(--color-orange-900);
  border-radius: rem(9px);
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);

  &.bronze {
    background-image: linear-gradient(rgba(#6e6929, 0.99), rgba(#d2b76f, 0.9));

    .title {
      background-image: linear-gradient(rgba(#fff, 0.5) 40%, rgba(#6e6929, 0.99) 80%, #d2b76f);
    }
  }

  &.silver {
    background-image: linear-gradient(rgba(#697267, 0.99), rgba(#a8aca8, 0.9));

    .title {
      background-image: linear-gradient(rgba(#fff, 0.5) 40%, rgba(#697267, 0.99) 80%, #a8aca8);
    }
  }

  &.gold {
    background-image: linear-gradient(rgba(#7a5f05, 0.99), rgba(#bf8609, 0.9));

    .title {
      background-image: linear-gradient(rgba(#fff, 0.5) 40%, rgba(#7a5f05, 0.99) 80%, #bf8609);
    }
  }
}

.id,
.title,
.jackpot {
  position: relative;
  z-index: 1;
}

.id {
  @include flex(center, center);
  @include size(rem(190px), rem(60px));
  @include absolute-center-bottom(rem(-10px));

  padding-top: rem(5px);
  padding-bottom: rem(9px);
  border-radius: rem(30px) rem(30px) 0 0;
  font-size: rem(19px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  text-shadow: none;
  color: var(--color-black);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: var(--color-orange-900);
}

.decor {
  @include size(rem(800px), auto);
  @include absolute-center;

  img {
    object-fit: cover;
  }
}

.title {
  @include stroke(rem(1px), var(--color-orange), transparent);

  display: block;
  font-size: rem(56px);
  font-weight: var(--typography-extra-bold);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jackpot {
  @include absolute-center-top(rem(450px));

  font-size: rem(32px);
  text-align: center;
  color: var(--color-thunder);

  span {
    @include make-spacer(ml, 1);

    font-size: rem(20px);
  }
}
