@import "scss/config";

.block {
  @include make-spacer(pt, 5);
  @include absolute-filled;

  border: rem(3px) solid var(--color-orange-900);
  border-radius: rem(9px);
  z-index: 15;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
  color: var(--color-white);

  &.bronze {
    background-image: linear-gradient(rgba(#6E6929, 0.99), rgba(#D2B76F, 0.9));

    .title {
      background-image: linear-gradient(rgba(#fff, 0.5) 40%, rgba(#6E6929, 0.99) 80%, #D2B76F);
    }
  }

  &.silver {
    background-image: linear-gradient(rgba(#697267, 0.99), rgba(#A8ACA8, 0.9));

    .title {
      background-image: linear-gradient(rgba(#fff, 0.5) 40%, rgba(#697267, 0.99) 80%, #A8ACA8);
    }
  }

  &.gold {
    background-image: linear-gradient(rgba(#7A5F05, 0.99), rgba(#BF8609, 0.9));

    .title {
      background-image: linear-gradient(rgba(#fff, 0.5) 40%, rgba(#7A5F05, 0.99) 80%, #BF8609);
    }
  }
}

.id,
.title,
.jackpot {
  position: relative;
  z-index: 1;
}

.id {
  @include flex(center, center);
  @include size(rem(190px), rem(60px));
  @include absolute-center-bottom(rem(-10px));

  padding-top: rem(5px);
  padding-bottom: rem(9px);
  border-radius: rem(30px) rem(30px) 0 0;
  background: linear-gradient(360deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background-color: var(--color-orange-900);
  color: var(--color-black);
  font-size: rem(19px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  text-shadow: none;
}

.decor {
  @include size(rem(800px), auto);
  @include absolute-center;

  img {
    object-fit: cover;
  }
}

.title {
  @include stroke(rem(1px), var(--color-orange), transparent);

  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: rem(56px);
  font-weight: var(--typography-extra-bold);
}

.jackpot {
  @include absolute-center-top(rem(450px));

  text-align: center;
  font-size: rem(32px);
  color: var(--color-thunder);

  span {
    @include make-spacer(ml, 1);
    font-size: rem(20px);
  }
}
