@import 'scss/config';

.block {
  @include make-spacer(pl, 1);
  @include make-spacer(pr, 2);

  display: grid;
  grid-template-columns: rem(50px) 1fr rem(80px) rem(100px);
  align-items: center;
  font-size: rem(12px);
  color: var(--color-white);
  column-gap: rem(5px);

  &:last-child {
    @include make-spacer(mb, 0);
  }

  &.hide {
    pointer-events: none;
  }

  @media (max-width: $min) {
    @include make-spacer(px, 1);

    grid-template-columns: rem(25px) 1fr 1fr rem(80px);
  }
}

.cell {
  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}

.button {
  button {
    @include size(rem(30px) !important);

    @media (max-width: $min) {
      @include size(rem(25px) !important);
    }
  }
}
