@import "scss/config";

.block {
  @include make-spacer('pl', 1);
  @include make-spacer('pr', 2);

  display: grid;
  grid-template-columns: rem(50px) 1fr rem(80px) rem(100px);
  align-items: center;
  column-gap: rem(5px);
  font-size: rem(12px);
  color: var(--color-white);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.cell {

  &.right {
    text-align: right;
  }
}

.button {

  button {
    @include size(rem(30px) !important);
  }
}
