@mixin field {
  @include make-spacer(px, 2);

  width: 100%;
  color: var(--color-white);
  border: rem(2px) solid var(--color-orange);
  border-radius: var(--border-radius-md);
  background-color: var(--color-black);

  @media (max-width: $min) {
    border-width: rem(1px);
    border-radius: var(--border-radius-sm);
  }
}
