@mixin label {
  @include flex($align-items: center);

  gap: rem(15px);
  font-size: rem(17px);
  text-align: center;
  white-space: nowrap;
  color: var(--color-orange);

  &::before,
  &::after {
    @include size(100%, rem(1px));

    background-color: var(--color-orange);
    content: '';
  }
}
