@mixin number {
  @include flex(center, center);

  border-radius: rem(6px);
  font-weight: var(--typography-extra-bold);
  text-shadow: none;

  &.horse-red {
    background-color: #FD0401;
  }

  &.horse-blue {
    background-color: #0086BC;
  }

  &.horse-white {
    color: var(--color-black);
    background-color: #FBF7F6;
  }

  &.horse-black {
    background-color: #0C0000;
  }

  &.horse-orange {
    color: var(--color-black);
    background-color: #F95E00;
  }

  &.horse-yellow {
    color: var(--color-black);
    background-color: #F7D000;
  }

  &.horse-green {
    background-color: #153E00;
  }

  &.horse-violet {
    color: var(--color-black);
    background-color: #FF6650;
  }

  &.dog-red {
    background-color: #ff0613;
  }

  &.dog-blue {
    background-color: #312783;
  }

  &.dog-white {
    color: var(--color-black);
    background-color: #f0f0f0;
  }

  &.dog-black {
    background-color: #3c3c3b;
  }

  &.dog-orange {
    color: var(--color-black);
    background-color: #f35d00;
  }

  &.dog-mixed {
    @include stroke(1px, var(--color-white), #E30613);

    color: var(--color-red);
    background: linear-gradient(90deg,
      #dadada 11.1%,
      #3c3c3b 11.1%, #3c3c3b 22.2%,
      #dadada 22.2%, #dadada 33.3%,
      #3c3c3b 33.3%, #3c3c3b 44.4%,
      #dadada 44.4%, #dadada 55.5%,
      #3c3c3b 55.5%, #3c3c3b 66.6%,
      #dadada 66.6%, #dadada 77.7%,
      #3c3c3b 77.7%, #3c3c3b 88.8%,
      #dadada 88.8%,
    );
  }

  &.sm {
    @include size(rem(20px));

    font-size: rem(14px);
  }

  &.md {
    @include size(rem(28px));

    font-size: rem(18px);
  }

  &.lg {
    @include size(rem(35px));

    font-size: rem(22px);
  }

  &.xl {
    @include size(rem(50px));

    font-size: rem(30px);
  }
}
