@mixin wrapper {
  position: relative;
  border: rem(3px) solid var(--color_orange_900);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color_mine_shaft);

  @media (max-width: $min) {
    border-width: rem(1px);
  }
}
