@import "scss/config";

.block {
  @include flex($align-items: center, $wrap: wrap);
}

.item {
  position: relative;
  color: var(--color-white);

  &:last-child {
    pointer-events: none;
    opacity: 0.8;

    span {
      text-decoration: none;
    }
  }

  &:nth-child(2) {

    &::before {
      @include make-spacer('mx', 1);

      content: '/';
    }
  }

  &:nth-child(3) {

    width: 100%;

    span {
      @include ellipsis();

      @include media-breakpoint-up(md) {
        font-size: rem(18px);
      }
    }
  }

  span {
    text-decoration: underline;
  }
}
