@import "scss/config";

.row {
    @include wrapper;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: var(--color-white);
}

.cell {
    @include make-spacer(p, 1);
    @include flex(center, center);

    background-color: var(--color-thunder);
    border-right: rem(1px) solid var(--color-border);
    gap: rem(10px);
    min-height: rem(69px);

    &:nth-child(odd) {
        background-color: var(--color-heavy-metal);
    }
}
