@import "scss/config";

.block {
  @include make-spacer('p', 2);

  text-align: center;

  &.default {
    position: relative;
    background-color: #272727;
    border: rem(2px) solid var(--color-orange);
    border-radius: rem(10px);
    overflow: hidden;
    color: var(--color-white);
  }
}
