@import "scss/config";

.block {
  position: relative;
  min-height: 200px;
}

.head {
  @include make-spacer('p', 2);

  text-transform: uppercase;
}

.wrapper {
  @include make-spacer('p', 2);

  background-color: var(--material);
}

.legend {
  @include make-spacer('pl', 8);
  @include make-spacer('pb', 2);
}

.label {
  @include make-spacer('mb', 2);

  display: grid;
  grid-template-columns: 15px 1fr;
  align-items: center;
  grid-gap: 10px;

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.marker {
  @include size(15px);
}
