@import 'scss/config';

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: var(--color-white);

  @media (max-width: $min) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cell {
  @include flex(center, center, column);

  height: rem(70px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  background-color: var(--color-thunder);

  &:nth-child(14n + 1),
  &:nth-child(14n + 2),
  &:nth-child(14n + 3),
  &:nth-child(14n + 4),
  &:nth-child(14n + 5),
  &:nth-child(14n + 6),
  &:nth-child(14n + 7) {
    background-color: var(--color-heavy-metal);
  }

  &:nth-child(7n) {
    border-right: 0;
  }

  &:nth-child(7n) {
    @media (max-width: $min) {
      border-right: rem(1px) solid var(--color-border);
    }
  }
}
