@import "scss/config";

.block {
  position: relative;
  //overflow: hidden;
  min-height: rem(690px);
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
}

.info {
  display: grid;
  grid-template-columns: 1fr rem(95px);
  align-items: center;
  position: absolute;
  top: rem(50px);
  width: rem(250px);
}

.body {
  position: relative;
  min-height: rem(655px);
  height: 100%;
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    @include size(100%);
  }
}

.banners {
  position: absolute;
  left: rem(335px);
}

.tab {
  @include flex($align-items: center);
}

.link {
  @include flex(center, center);
  @include size(rem(90px), rem(35px));
  @include make-spacer('mr', 1);

  border-radius: rem(8px);
  border: 1px solid #17591b;
  background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
  background-color: var(--color-green);
  opacity: 0.5;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: rem(13px);

  &:last-child {
    @include make-spacer('mr', 0);
  }

  &:hover,
  &.active {
    opacity: 1;
  }
}

.table {
  display: block;
}

.header {
  @include make-spacer('my', 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(40px);
  padding-left: rem(270px);
}

.label {
  @include make-spacer('mb', 2);
  @include flex($align-items: center);

  gap: rem(15px);
  text-align: left;
  color: var(--color-orange);
  font-size: rem(19px);

  &::before,
  &::after {
    @include size(100%, rem(1px));

    background-color: var(--color-orange);
    content: '';
  }
}

.sort {
  @include make-spacer('mb', 2);
  @include flex($align-items: center);
}

.market {
  @include flex(center, center);
  @include make-spacer('mr', half);
  @include size(rem(43px));

  position: relative;

  filter: drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.56));
  box-shadow: inset 0 3px 3.5px rgba(0, 0, 0, 0.18);
  background-image: linear-gradient(0deg, #111111 0%, #294329 17%, #0b5707 51%, #0b5707 100%);
  border: 0 solid var(--color-black);
  border-radius: rem(4px);
  color: var(--color-white);
  font-weight: var(--typography-bold);
  font-size: rem(17px);
  text-transform: uppercase;
  text-align: center;

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(12px);
    border-radius: rem(5px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
    content: '';
  }

  &:last-child {
    @include make-spacer('mr', 0);
  }

  &.disabled {
    pointer-events: none;
    background-image: linear-gradient(0deg, #111111 0%, #3f3f3f 17%, #6d6d6d 51%, #6d6d6d 100%);
  }

  &.active {
    background-image: linear-gradient(0deg, #294329 0%, #00a900 52%, #00a900 100%);
  }
}

.wrapper {
  @include flex(center, center);
}
