@import "scss/config";

.content {
  position: relative;
  min-height: 100px;
}

.grid {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  & > div {
    overflow: hidden;
  }
}

.panel {
  overflow: hidden;
}

.head {
  @include make-spacer('p', 2);

  text-transform: uppercase;
}

.wrapper {
  background-color: var(--material);
}

.overflow {
  overflow-x: auto;
}

.table {
  min-width: 500px;
  border: 1px solid var(--border);
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 1px solid var(--border);
  height: 45px;

  &:nth-child(odd) {
    background-color: var(--primary);
  }

  &:first-child {
    font-weight: var(--typography-bold);
    line-height: 1.2;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:not(&:first-child) {

    &:hover {
      background-color: var(--primary-disabled);
      color: var(--text-for-material);
    }
  }
}

.cell {
  @include make-spacer('px', half);
  @include flex(center, center);

  text-align: center;
  text-transform: capitalize;

  span {
    @include ellipsis();
  }

  &:nth-child(1) {
    @include make-spacer('pl', 2);

    justify-content: flex-start;
  }
}

.button {
  @include make-spacer('ml', 1);
}

.icon {
  @include size(25px);
}

.country {
  @include size(24px, 16px);
  @include make-spacer('mr', 2);

  flex-shrink: 0;

  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}
