@import "scss/config";

.block {
  @include absolute-filled;

  background-position: 50% 50%;
  background-size: cover;

  &::before {
    @include absolute-filled;

    background-color: rgba(0, 0, 0, 0.7);
    content: '';
  }

  img {
    object-fit: cover;
  }
}
