@import "scss/config";

.block {
  @include flex(center, center);
  @include make-spacer('p', 2);

  position: fixed;
  top: rem(57px);
  right: rem(370px);
  bottom: 0;
  left: 0;
  z-index: 11;
  background-color: var(--color-green-100);
}

.button {
  @include link;
  @include size(auto, rem(48px));
  @include make-spacer('px', 4);
  @include make-spacer('py', 2);

  min-width: rem(150px);
  font-size: rem(16px);
  white-space: nowrap;
}
