@import "scss/config";

.block {
  overflow: hidden;
}

.top {
  text-align: center;
}

.bottom {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  column-gap: 5px;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(md) {
    grid-template-columns: 50px 1fr 1fr 50px;
    column-gap: 10px;
  }
}

.cell {
  @include size(100%, 6px);
  @include flex($align-items: center);

  background-color: var(--primary);
  overflow: hidden;

  div {
    @include size(100%);
  }

  &.left {

    div {
      background-color: var(--brand);
      transform-origin: 100% 0;
    }
  }

  &.right {

    div {
      background-color: var(--red);
      transform-origin: 0 50%;
    }
  }
}

.text {
  text-align: center;
  font-size: 18px;
  color: var(--white);

  &.left {
    text-align: right;
  }

  &.right {
    text-align: left;
  }
}
