@import "scss/config";

.block {
  background-color: var(--material);
}

.item {
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);
  @include flex($align-items: center);

  position: relative;
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  cursor: pointer;
  height: 45px;

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }

  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);

    &::before {
      width: 4px;
    }
  }

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 1px solid var(--border);
  }
}

.country {
  @include make-spacer('mr', 2);
  @include size(29px, 16px);

  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}
