@import 'scss/config';

.block {
  position: relative;
  min-height: rem(300px);

  @media (max-width: $min) {
    min-height: rem(150px);
  }
}

.row {
  @include make-spacer(mb, 2);
  @include make-spacer(pl, 1);
  @include make-spacer(pr, 2);

  display: grid;
  grid-template-columns: rem(50px) 1fr rem(80px) rem(100px);
  align-items: center;
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-align: center;
  overflow: hidden;
  color: var(--color-orange);
  column-gap: rem(5px);

  & > * {

    &:nth-child(2) {
      text-align: left;
    }
    &:nth-child(3),
    &:nth-child(4) {
      text-align: right;
    }
  }

  @media (max-width: $min) {
    @include make-spacer(mb, 1);
    @include make-spacer(px, 1);

    grid-template-columns: rem(25px) 1fr 1fr rem(80px);
  }
}

.item {
  @include make-spacer(mb, 2);

  &:last-child {
    @include make-spacer(mb, 0);
  }

  @media (max-width: $min) {
    @include make-spacer(mb, 1);
  }
}

.empty {
  @include make-spacer(px, 2);
}
