@import 'scss/config';

.block {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1.5fr 1fr;

  &.alt {
    @include wrapper;

    height: rem(330px);
    overflow: hidden;
  }

  &.active {

    .cell {

      &:nth-last-child(-n + 8) {
        border-bottom: 0;
      }
    }
  }
}

.cell {
  @include make-spacer(px, 1);
  @include flex(center, center);

  gap: rem(10px);
  height: rem(40px);
  border-right: rem(1px) solid var(--color_border);
  border-bottom: rem(1px) solid var(--color_border);

  &:nth-child(odd) {
    background-color: var(--color_thunder);
  }

  &:nth-child(4n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 4) {
    border-bottom: 0;
  }

  .odd {

    &:last-child {
      animation: bounce 0.6s ease-in-out alternate;
    }
  }

  &.left {
    justify-content: flex-start;
  }
}

@keyframes bounce {

  0% {
    transform: translateY(rem(-15px));
    opacity: 0;
  }

  30% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    animation-timing-function: ease-out;
    transform: translate3d(0, -15%, 0);
  }

  100% {
    animation-timing-function: ease-in;
    transform: translateZ(0);
  }
}
