@import 'scss/config';

.block {
  @include transition(background);
  @include flex;
  @include size(rem(25px));

  position: relative;
  border: rem(1px) solid var(--color-orange-900);
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--color-black);
  cursor: pointer;

  &:hover {
    background: var(--gradient-hover);
  }
}

.input {
  @include size(0);

  opacity: 0;

  &:checked + .label {
    opacity: 1;
  }
}

.label {
  @include absolute-filled;

  background: var(--gradient-active);
  opacity: 0;
}
