@import 'scss/config';

.header {
  @include flex(center, center);
  @include make-spacer(mt, 1);

  gap: rem(2px);
}

.body {
  @include make-spacer(pt, 2);

  @media (max-width: $min) {
    @include make-spacer(pt, 1);
  }
}

.button {
  @include make-spacer(px, 4);

  height: rem(45px);

  @media (max-width: $min) {
    flex-grow: 1;
    height: rem(30px);
  }
}
