@import "scss/config";

//.wrapper {
//  @include make-spacer('mb', 4);
//
//  &:last-child {
//    margin-bottom: 0;
//  }
//}
//
//.header,
//.footer {
//  @include make-spacer('p', 2);
//}
//
//.body,
//.footer {
//  background-color: var(--material);
//}
//
//.header {
//  text-transform: uppercase;
//}

.body {
  border: 1px solid red;
}

.table {
  @include make-spacer('mb', 4);

  gap: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    @include flex(stretch);
  }
}

.cell {
  flex: 1;
}
