@import "scss/config";

.block {
  @include size(100%);

  display: grid;
  grid-template-columns: 80px 1fr;
  background: linear-gradient(360deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background-color: var(--color-black);
  border-radius: rem(3px);
  padding: 2px;
  overflow: hidden;
  color: var(--color-white);
  font-size: rem(12px);
  line-height: 1;

  &.bronse {
    background-color: rgba(#6E6929, 0.8);

    .right {
      background-color: #D2B76F;
    }
  }

  &.silver {
    background-color: rgba(#697267, 0.8);

    .right {
      background-color: #A8ACA8;
    }
  }

  &.gold {
    background-color: rgba(#7A5F05, 0.8);

    .right {
      background-color: #BF8609;
    }
  }
}

.left,
.right {
  @include flex(center, center);

  height: 100%;
}

.left {
  flex-direction: column;
}

.right {
  background: linear-gradient(360deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  padding-bottom: rem(2px);
  border-radius: inherit;
  min-width: rem(130px);
  font-size: rem(22px);
}

.symbol {
  margin-left: 3px;
}
