@import "scss/config";

.row {
  @include wrapper;
  @include make-spacer(p, 2);

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: rem(5px);
  color: var(--color-white);
}

.cell {
  @include make-spacer(px, 1);
  @include flex(center, center);

  flex-shrink: 0;
  gap: rem(10px);
}
