@import 'scss/config';

.block {
  @include flex(center, center, column);
  @include size(rem(95px));

  border-radius: 50%;
  text-align: center;
  color: var(--color-white);
  background: linear-gradient(0deg, #111 0%, #6d6d6d 51%, #6d6d6d 100%);
}

.top {
  font-size: rem(22px);
  font-weight: var(--typography-bold);
}

.bottom {
  min-height: rem(25px);
  font-size: rem(14px);
}
