@import "scss/config";

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--color-white);
}

.cell {
  @include flex(center);

  background-color: var(--color-thunder);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  height: rem(55px);

  &:nth-child(even) {
    background-color: var(--color-heavy-metal);
  }
}

.label {
  @include label;

  height: rem(40px);
  width: 100%;
}
