@import 'scss/config';

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--color-white);

  &:last-child {

    @media (max-width: $min) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.column {

  .cell {

    &:nth-child(even) {
      background-color: var(--color-heavy-metal);
    }

    &:last-child {
      border-bottom: 0;

      @media (max-width: $min) {
        border-bottom: rem(1px) solid var(--color-border);
      }
    }
  }

  &:last-child {

    .cell {
      border-right: 0;
    }
  }
}

.cell {
  @include flex(center, center, column);

  height: rem(74px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  background-color: var(--color-thunder);

  &:nth-child(6n) {
    border-right: 0;
  }

  &.sm {
    height: rem(47px);
  }
}
