@import "scss/config";

.block {
    @include size(100%);

    position: relative;
}

.grid {
    @include make-spacer(p, 2);
    @include wrapper;
    @include size(100%);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(50px);
}
