@import "scss/config";

.block {
  @include size(100%);

  padding-top: rem(110px);
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
  color: var(--color-white);
}

.info {
  @include info;

  top: rem(3px);
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    width: auto;
  }
}

.weeks {
  @include flex($align-items: center);

  position: absolute;
  top: rem(55px);
  left: rem(390px);
}

.week {
  @include link;
  @include make-spacer(px, 2);

  width: auto;
}
