@import 'scss/config';

.block {
  @include size(100%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(20px);
}

.row,
.grid {
  @include wrapper;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  @include transition(all);
  @include flex(center, center);

  gap: rem(10px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);
  opacity: 0.6;

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(10n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 10) {
    border-bottom: 0;
  }

  &.active {
    background: var(--gradient-hover);
    opacity: 1;
  }
}

.grid {
  @include make-spacer(p, 2);
  @include size(100%);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: rem(10px);
}

.column {
  @include flex($direction: column-reverse);

  border-left: rem(3px) solid var(--color-orange-900);
  border-right: rem(3px) solid var(--color-orange-900);
  border-bottom: rem(3px) solid var(--color-orange-900);
  background: var(--color-mine-shaft) linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 62%,
    rgba(255, 255, 255, 0.25) 66%,
    rgba(255, 255, 255, 0.25) 85%,
    rgba(255, 255, 255, 0) 86%
  );
}

.odd {
  height: rem(102px);
  animation: 550ms ease-in-out 0s 1 normal forwards running bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(rem(-500px));
  }

  30% {
    transform: translateY(0);
  }

  50% {
    animation-timing-function: ease-out;
    transform: translate3d(0, -30%, 0);
  }

  100% {
    animation-timing-function: ease-in;
    transform: translateZ(0);
  }
}
