@import "scss/config";

.block {
  transform: translateY(9px);
  width: rem(652px);
}

.button {
  @include flex(center, center, column);
  @include size(rem(90px), rem(50px));

  padding-top: rem(5px);
  padding-bottom: rem(9px);
  border-radius: rem(10px);
  background-color: var(--color-orange-900);
  background: linear-gradient(360deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-transform: uppercase;
  text-shadow: none;

  &.active {
    background-color: var(--color-yellow);
  }
}

.icon {
  @include make-spacer('mb', half);
  @include size(rem(20px));
}
