@import 'scss/config';

.row {
  @include wrapper;

  display: grid;
  grid-template-columns: 1fr auto;
  font-size: rem(12px);
  color: var(--color-white);
}

.cell {
  @include make-spacer(px, 1);
  @include flex(null, center);

  height: rem(34px);
  border-right: rem(1px) solid var(--color-border);
  border-bottom: rem(1px) solid var(--color-border);

  &:nth-child(even) {
    background-color: var(--color-thunder);
  }

  &:nth-child(2n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 2) {
    border-bottom: 0;
  }

  &.center {
    justify-content: center;
  }
}
