@import 'scss/config';

.block {
  border: rem(1px) solid var(--color-border);
  border-radius: rem(5px);
  overflow: hidden;
  color: var(--color-white);

  @media (max-width: $min) {
    border-radius: rem(3px);
  }
}

.options,
.form,
.stats {
  max-width: rem(500px);
}

.header {
  @include flex;

  height: rem(50px);
  border-bottom: rem(1px) solid var(--color-border);

  @media (max-width: $min) {
    height: rem(30px);
    font-size: rem(12px);
  }
}

.link {
  flex: 1;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--color-mine-shaft);

  &:hover {
    color: var(--color-white);
  }

  &.active {
    color: var(--color-orange);
  }
}

.body {
  @include make-spacer(p, 4);

  @media (max-width: $min) {
    @include make-spacer(p, 1);
  }
}

.stats {
  @include make-spacer(mb, 2);

  @media (max-width: $min) {
    @include make-spacer(mb, 1);
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr rem(150px);
  gap: rem(10px);

  @media (max-width: $min) {
    grid-template-columns: 1fr rem(100px);
    gap: rem(5px);
  }
}

.field {
  @include field;

  height: rem(45px);

  @media (max-width: $min) {
    border-width: rem(1px);
    height: rem(30px);
    font-size: rem(12px);
  }
}

.print {
  display: none;
}

.button {
  @include size(100%, rem(45px));

  @media (max-width: $min) {
    height: rem(30px);
  }
}
