@import "scss/config";

.block {
  border: 1px solid var(--color-border);
  border-radius: rem(5px);
  overflow: hidden;
  color: var(--color-white);
}

.header {
  @include flex;

  height: rem(50px);
  border-bottom: 1px solid var(--color-border);
}

.link {
  flex: 1;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--color-mine-shaft);

  &:hover {
    color: var(--color-white);
  }

  &.active {
    color: var(--color-orange);
  }
}

.body {
  @include make-spacer('p', 4);
}

.options,
.form,
.stats {
  max-width: rem(500px);
}

.options,
.stats {

  .button {

    button {
      display: block;
      width: rem(150px);
    }
  }
}

.stats {
  @include make-spacer('mb', 2);

  position: relative;
}

.form {
  display: grid;
  grid-template-columns: 1fr rem(150px);
  gap: rem(10px);

  .button {

    button {
      height: rem(45px);
    }
  }
}

.field {
  @include make-spacer('px', 2);
  @include size(100%, rem(45px));

  border: 2px solid var(--color-orange);
  border-radius: rem(5px);
  color: var(--color-white);
  background-color: var(--color-black);

  &:focus {
    outline: 0;
  }
}

.print {
  display: none;
}
