@import "scss/config";

.block {
  position: relative;
  min-height: rem(690px);
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
}

.info {
  @include info;
}

.body {
  position: relative;
  min-height: rem(655px);
  height: 100%;
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    @include size(100%);
  }
}

.banners {
  @include banners;
}

.tab {
  @include flex($align-items: center);
}

.link {
  @include link;
}

.table {
  display: block;
}

.header {
  @include make-spacer('my', 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(40px);
  padding-left: rem(270px);
}

.label {
  @include label;
  @include make-spacer('mb', 2);
}

.sort {
  @include make-spacer('mb', 2);
  @include flex($align-items: center);
}

.market {
  @include button;
  @include make-spacer('mr', half);
  @include size(rem(43px));
}

.wrapper {
  @include flex(center, center);
}
