@import 'scss/config';

.block {
  @include make-spacer(p, 2);
  @include wrapper;
  @include size(100%);
  @include flex(center, center);

  font-size: rem(52px);
  color: var(--color_orange);

  * {
    animation: blink 1.5s infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
