@import "scss/config";

.block {
  position: relative;
}

.head {
  @include make-spacer('p', 2);

  text-transform: uppercase;
}

.wrapper {
  @include make-spacer('p', 2);

  display: grid;
  align-items: center;
  grid-gap: 10px;
  background-color: var(--material);

  @include media-breakpoint-up(md) {
    grid-template-columns: 2fr 1fr;
  }
}

.table {
  border: 1px solid var(--border);
}

.row {
  display: grid;
  grid-template-columns: 50px 70px 1fr;
  align-items: center;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  height: 45px;

  &:nth-child(odd) {
    background-color: var(--primary);
  }

  &:first-child {
    font-weight: var(--typography-bold);
  }

  &:last-child {
    border-bottom: 0;
  }

  &.active,
  &:hover {
    background-color: var(--primary-disabled);
    color: var(--text-for-material);
  }
}

.cell {
  @include make-spacer('px', half);
  @include flex(center, center);

  text-align: center;
  text-transform: capitalize;

  span {
    @include ellipsis();
  }

  &:nth-child(1) {
    @include make-spacer('pl', 2);

    justify-content: flex-start;
  }

  &:nth-child(3) {
    justify-content: flex-start;
    text-align: left;
  }
}

.icon {
  @include size(20px, 30px);
}

.field {
  @include flex;
  @include make-spacer('p', 4);

  position: relative;
  aspect-ratio: 16/9;

  svg {
    @include absolute-filled;
  }
}

.point {
  cursor: pointer;
  fill: var(--brand);

  circle {
    stroke: var(--white);
  }

  &.active,
  &:hover {

    circle {
      stroke-width: 5px;
    }
  }
}
