@import 'scss/config';

.block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  @include wrapper;
}

.header {
  @include make-spacer(mb, 4);
  @include flex($align-items: center);

  padding-left: rem(270px);
  gap: rem(2px);

  @media (max-width: $min) {
    @include make-spacer(mb, 1);
    @include make-spacer(pl, 0);
  }
}

.button {
  @include size(rem(178px), rem(45px));

  @media (max-width: $min) {
    height: rem(30px);
    flex: 1;
  }
}
