@import 'scss/config';

.block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  @include wrapper;
}

.header {
  @include make-spacer('mb', 4);
  @include flex(center, center);

  gap: rem(10px);
}

.button {
  @include button;
  @include size(auto, rem(30px));
  @include make-spacer('px', 4);

  min-width: rem(180px);
}

.quantity {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  column-gap: rem(5px);

  .button {
    @include size(rem(43px));
  }
}
