@import 'scss/config';

.block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  @include wrapper;
}

.header {
  @include make-spacer(mb, 4);
  @include flex(center, center);

  gap: rem(10px);

  @media (max-width: $min) {
    @include make-spacer(mb, 1);
  }
}

.button {
  @include button;
  @include make-spacer(px, 4);

  min-width: rem(180px);

  @media (max-width: $min) {
    height: rem(30px);
    min-height: unset;
    font-size: rem(13px);
    min-width: unset;
    flex: 1;
  }
}

.quantity {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  column-gap: rem(5px);

  .button {
    @include size(rem(43px));
  }
}
