@import 'scss/config';

.block {
  @include flex;
  @include size(rem(60px), rem(34px));

  position: relative;
  border-radius: rem(34px);
  overflow: hidden;
  outline: rem(1px) solid var(--color-orange-900);
}

.input {
  @include size(0);

  opacity: 0;

  &:checked + .label {
    background-color: var(--color-black);

    &::before {
      transform: translateX(26px);
      content: 'on';
    }
  }
}

.label {
  @include transition;
  @include absolute-filled;

  background-color: darken(#ccc, 30);
  cursor: pointer;

  &::before {
    @include flex(center, center);
    @include size(rem(26px));

    position: absolute;
    bottom: rem(4px);
    left: rem(4px);
    border-radius: 50%;
    font-size: rem(9px);
    text-transform: uppercase;
    color: var(--color-black);
    background-color: var(--color-white);
    content: 'off';
    transition: inherit;
  }
}
