@import 'scss/config';

.block {
  @include flex(center, center);
  @include size(rem(30px));

  position: relative;
  flex-shrink: 0;
  border: rem(2px) solid var(--color-black);
  border-radius: rem(6px);
  font-size: rem(14px);
  color: var(--color-white);

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(6px);
    border-radius: rem(inherit);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    content: '';
  }

  &.black {
    background: linear-gradient(0deg, #2a2a2a 0%, #0d0d0d 7%, #111 50%, #0d0d0d 100%);
  }

  &.red {
    background: linear-gradient(0deg, #111 0%, #9f0021 17%, #c91e37 52%, #c91e37 100%);
  }

  &.zero {
    border: rem(2px) solid var(--color-green-900);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  }
}
