@import "scss/config";

.block {
  @include flex($direction: column);

  border: rem(2px) solid var(--color-orange);
  border-radius: rem(10px);
  background-color: var(--color-black);
  height: 100%;
  overflow: hidden;
}

.wrapper {
  @include scroll;
  @include make-spacer('py', 2);

  flex-grow: 1;
}

.row {
  @include make-spacer('mb', 2);
  @include make-spacer('px', 1);

  display: grid;
  grid-template-columns: 1fr rem(55px) rem(88px);
  column-gap: rem(5px);
  align-items: center;
  overflow: hidden;
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  text-align: center;
  color: var(--color-orange);
}

.item {
  @include make-spacer('mb', 4);

  &:last-child {
    @include make-spacer('mb', 0);
  }
}

.market {
  @include ellipsis;
}

.stake {
  @include make-spacer('py', half);
  @include make-spacer('px', 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #333333;
  color: var(--color-white);
  font-size: rem(13px);

  div {

    &:last-child {
      text-align: right;
    }
  }
}

.footer {
  @include make-spacer('p', 1);
  @include flex(space-between);
}

.types {
  @include make-spacer('mt', 2);
  @include flex;

  background-color: #333333;
  border-bottom: 1px solid #808080;
  height: rem(32px);
}

.type {
  @include flex(center, center);

  position: relative;
  flex: 1;
  transition: var(--default-transition);
  height: 100%;
  color: #808080;

  &::after {
    @include size(0, rem(2px));

    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--color-orange-900);
    transition: var(--default-transition);
    content: '';
  }

  &:hover {
    color: var(--color-orange-900);
  }

  &.active {
    color: var(--color-orange-900);

    &::after {
      width: 100%;
    }
  }
}

.table {
}

.thead {
  @include make-spacer('py', 2);

  border-bottom: 1px solid #808080;

  .tr {
    grid-template-columns: rem(50px) rem(60px) rem(120px) 1fr;

    .tr {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.tbody {

  .tr {
    border-bottom: 1px solid #808080;

    &:last-child {
      border-bottom: 0;
    }
  }

  .th {
    @include flex(center, center);

    min-height: rem(30px);
  }
}

.tr {
  display: grid;
  grid-template-columns: rem(50px) rem(60px) repeat(2, 60px) 1fr;
  align-items: center;
}

.th {
  font-size: rem(14px);
  text-align: center;
  color: var(--color-white);
}

.option {
  @include make-spacer('p', 2);
  @include size(rem(64px));

  position: relative;
  border-radius: rem(8px);
  border-width: 1px;
  border-style: solid;
  background: linear-gradient(360deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
  color: var(--color-white);

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(12px);
    border-radius: rem(5px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    content: '';
  }

  &.red {
    background-color: #d6233c;
    border-color: #8b0e26;
  }

  &.blue {
    background-color: #1b79c9;
    border-color: #1d4c89;
  }

  &.olive {
    background-color: #3fa025;
    border-color: #113808;
  }

  &.green {
    background-color: #0b5a07;
    border-color: #15490a;
  }
}
