@import "scss/config";

.block {
  @include flex($direction: column);

  border: rem(2px) solid var(--color-orange);
  border-radius: rem(10px);
  background-color: var(--color-black);
  height: 100%;
  overflow: hidden;
}

.body {
  @include scroll;
  @include make-spacer('py', 2);

  overflow-x: hidden;
  flex-grow: 1;
}

.stake {
  @include make-spacer('py', half);
  @include make-spacer('px', 2);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #333333;
  color: var(--color-white);
  font-size: rem(13px);

  div {

    &:last-child {
      text-align: right;
    }
  }
}

.footer {
  @include make-spacer('p', 1);
  @include flex(flex-end);

  gap: rem(5px);
}

.button {
  flex: 1;
}
