@import "scss/config";

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--color-white);
}

.cell {
  @include flex(center, center, column);

  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  height: rem(70px);
}
