@import "scss/config";

.block {
  position: relative;
  height: rem(692px);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--typography-bold);
}

.info {
  @include info;
}

.body {
  position: relative;
  min-height: rem(645px);
  height: 100%;
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    @include size(100%);
  }
}

.banners {
  @include banners;
}

.tab {
  @include flex($align-items: center);
}

.link {
  @include link;
}

.table {
  @include make-spacer('mt', 7);

  display: block;
}

.wrapper {
  @include flex(center, center);
}
