@import 'scss/config';

.table {
  @include wrapper;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: rem(32px);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-white);

  &:last-child {
    border-bottom: 0;
  }
}

.cell {
  @include make-spacer('pl', 4);
  @include flex($align-items: center);

  gap: rem(5px);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-thunder);
  cursor: pointer;

  &:nth-child(7) {
    border-right: 0;
  }

  &:hover {
    background-image: linear-gradient(0deg, #294329 0%, #00a900 52%, #00a900 100%);
  }

  &.disabled {
    background-image: linear-gradient(0deg, #111 0%, #3f3f3f 17%, #6d6d6d 51%, #6d6d6d 100%);
    pointer-events: none;
  }

  &.active {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-color: var(--color-red);
  }
}
