@import 'scss/config';

.table {
  @include wrapper;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: rem(32px);
  border-bottom: rem(1px) solid var(--color_border);
  color: var(--color-white);

  &:last-child {
    border-bottom: 0;
  }

  @media (max-width: $min) {
    grid-template-columns: rem(30px) repeat(3, 1fr);
    height: rem(96px);
  }
}

.cell {
  @include make-spacer(pl, 4);
  @include flex($align-items: center);

  gap: rem(5px);
  border-right: rem(1px) solid var(--color_border);
  background-color: var(--color_thunder);
  cursor: pointer;

  &:nth-child(1) {
    @media (max-width: $min) {
      @include make-spacer(pl, half);

      justify-content: center;
      border-bottom: 0!important;
    }
  }

  &:nth-last-child(n + 5) {
    @media (max-width: $min) {
      border-bottom: rem(1px) solid var(--color_border);
    }
  }

  &:nth-child(8) {
    border-right: 0;
  }

  &:nth-child(4) {
    @media (max-width: $min) {
      border-right: 0;
    }
  }

  &:hover {
    background: var(--gradient-hover);
  }

  &.hidden {
    display: none;
    border-top: 0;

    @media (max-width: $min) {
      display: block;
    }
  }

  &.disabled {
    background: var(--gradient-disabled);
    pointer-events: none;
  }

  &.active {
    background: var(--gradient-active);
  }

  @media (max-width: $min) {
    @include make-spacer(pl, 1);
  }
}
