@import "scss/config";

.block {
  @include size(100%);

  position: relative;
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--color-white);
}

.info {
  @include info;
}

.league {
  @include size(rem(135px), rem(70px));

  img {
    width: auto;
  }
}

.weeks {
  @include flex($align-items: center);

  position: absolute;
  top: 0;
  left: 0;
}

.week {
  @include link;
  @include make-spacer(px, 2);

  width: auto;
}

.wrapper {
  @include make-spacer(p, 2);
  @include wrapper;
  @include size(100%);
}
