@import "scss/config";

.wrapper {
  position: relative;
  border: 2px solid var(--color-orange);
  border-radius: rem(10px);
  overflow: hidden;
}

.head {
  display: grid;
  grid-template-columns: rem(35px) rem(215px) 1fr;
  column-gap: rem(10px);
  align-items: center;
  padding-left: rem(2px);
  padding-right: rem(2px);
  margin-bottom: rem(2px);
  height: rem(37px);
  color: var(--color-white);
  font-size: rem(12px);

  .cell,
  .odds,
  .column {
    height: 100%;
  }

  .column {
    height: 100%;
    border-top: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
    border-bottom: 1px solid #577859;

    &:last-child {
      border-right: 0;
    }
  }
}

.odds {
  @include flex;
}

.column {
  @include flex(center, center);

  flex: 1;
}
