@import 'scss/config';

.block {
  @include size(100%);
}

.weeks {
  @include flex($align-items: center);

  position: absolute;
  top: 0;
  left: 0;
}

.week {
  @include link;
  @include make-spacer(px, 2);

  width: auto;
}

.wrapper {
  @include make-spacer(p, 2);
  @include wrapper;
  @include size(100%);
}
