@import 'scss/config';

.block {
  @include flex(center, center, column);
  @include size(rem(95px));

  border-radius: 50%;
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--gradient-hover);
}

.top {
  font-size: rem(22px);
}

.bottom {
  min-height: rem(25px);
  font-size: rem(14px);
}
