@import "scss/config";

.block {
  position: relative;
}

.wrapper {
  overflow-x: auto;
}

.overflow {
  min-width: 800px;
}

.table {
  border: 1px solid var(--border);
}

.row {
  display: grid;
  grid-template-columns: 80px minmax(150px, 1fr) minmax(120px, 1fr) 100px repeat(3, 50px) 150px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  height: 45px;
  font-size: 14px;

  &:nth-child(odd) {
    background-color: var(--primary);
  }

  &:first-child {
    font-weight: var(--typography-bold);
  }

  &:last-child {
    border-bottom: 0;
  }
}

.cell {
  @include flex(center, center);

  text-align: center;
  text-transform: capitalize;

  span {
    @include ellipsis();
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    justify-content: flex-start;
  }

  &:nth-child(1) {
    @include make-spacer('pl', 2);
  }
}

.country {
  @include size(24px, 16px);
  @include make-spacer('mr', 2);

  flex-shrink: 0;

  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}

.icon {
  @include size(20px, 40px);
}
