@import "scss/config";

.block {
  @include size(100%);

  position: relative;
  font-weight: var(--typography-bold);
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--color-white);
}

.wrapper {
  position: relative;
}
