@import "scss/config";

.block {
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);
  @include flex($align-items: center);

  position: relative;
  height: 45px;

  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);

    &::before {
      width: 4px;
    }
  }

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }
}
