@import "scss/config";

.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  @include flex(center, center);

  background-color: #333233;
  border-right: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  height: rem(53px);

  &:nth-child(-n+10) {
    height: rem(30px);
  }

  &:nth-child(1n+10) {
    background-color: #262726;
  }
}

.button {
  @include flex(center, center);
  @include size(100%);

  position: relative;
  filter: drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.56));
  box-shadow: inset 0 3px 3.5px rgba(0, 0, 0, 0.18);
  background-image: linear-gradient(0deg, #111111 0%, #3f3f3f 17%, #6d6d6d 51%, #6d6d6d 100%);
  border: 0 solid var(--color-black);
  color: var(--color-white);
  transition: var(--default-transition);

  &::before {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    left: rem(1px);
    height: rem(12px);
    border-radius: rem(5px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
    content: '';
  }

  &:hover {
    background-image: linear-gradient(0deg, #294329 0%, #00a900 52%, #00a900 100%);
  }

  svg {
    transform: rotateZ(90deg);
  }
}
