@import "scss/config";

.block {
  @include flex(space-between, center);
  @include make-spacer('px', 2);

  position: relative;
  height: rem(57px);
  border-top: rem(2px) solid var(--color-yellow);
  border-bottom: rem(2px) solid var(--color-yellow);
  background: linear-gradient(360deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background-color: #ffd76d;
  overflow: hidden;
  flex-shrink: 0;
}

.setting {
  @include make-spacer('mr', 4);
  @include make-spacer('ml', auto);
  @include flex($align-items: center);

  gap: rem(10px);
  font-weight: var(--typography-bold);
  font-size: rem(13px);
}

.options {
  @include flex($align-items: center);

  gap: rem(17px);
}

.option {

  button {
    box-shadow: 0 0 rem(2px) rem(3px) rgba(0, 0, 0, 0.4);
    width: rem(38px);
  }
}

.language {
  @include make-spacer('mx', 1);
}
