@import 'scss/config';

.block {
  @include flex(space-between, center);
  @include make-spacer(px, 2);

  position: relative;
  flex-shrink: 0;
  height: rem(57px);
  border-top: rem(2px) solid var(--nav_border);
  border-bottom: rem(2px) solid var(--nav_border);
  overflow: hidden;
  color: var(--nav_color);
  background: var(--nav_background) linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

  @media (max-width: $min) {
    @include make-spacer(px, 1);

    z-index: $z-index-14;
    gap: rem(3px);
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: rem(80px);
    overflow: unset;
  }
}

.meta {
  @include size(100%, rem(30px));

  display: none;

  @media (max-width: $min) {
    display: grid;
    grid-template-columns: rem(100px) auto;
    justify-content: space-between;
  }

  button {
    @include make-spacer(px, 2);
  }
}

.logo {
  @include size(100%);

  overflow: hidden;

  img {
    width: auto;
    object-fit: cover;
  }
}

.setting {
  @include make-spacer(mr, 2);
  @include make-spacer(ml, auto);


  @media (max-width: $min) {
    @include make-spacer(mx, 0);

    display: none;
    position: fixed;
    top: rem(80px);
    right: 0;
    left: 0;

    &.show {
      display: block;
    }
  }
}

.options {
  @include flex($align-items: center);

  gap: rem(5px);

  @media (max-width: $min) {
    @include make-spacer(px, 2);
    @include flex(flex-end, center);

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer;
    border-top: rem(2px) solid var(--nav_border);
    background: var(--nav_background) linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.option {
  @include size(rem(38px));

  color: var(--color-white);

  &.hide {
    @media (max-width: $min) {
      display: none;
    }
  }
}

.button {
  @include make-spacer(ml, 0);
  @include make-spacer(mr, auto);

  display: none;
  position: relative;

  span {
    @include flex(center, center);
    @include size(rem(30px));

    position: absolute;
    top: rem(-18px);
    right: rem(-18px);
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color_red);
  }

  button {
    @include make-spacer(px, 2);

    height: rem(38px);
  }

  @media (max-width: $min) {
    display: block;
  }
}
