@import "../../../scss/config";

.block {
  @include make-spacer('px', 2);
  @include flex($align-items: center);

  background-color: var(--color-white);
  height: 45px;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.country,
.icon {
  @include make-spacer('mr', 2);

  svg,
  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}

.icon {
  @include size(29px);
}

.country {
  @include size(29px, 16px);
}
