@import "scss/config";

.block {
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);
  @include flex($align-items: center);

  position: relative;
  height: var(--base-height-md);

  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);

    &::before {
      width: rem(4px);
    }

    .icon {

      svg {
        fill: var(--text-for-material);
      }
    }
  }

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }

  span {
    @include ellipsis();
  }
}

.country,
.icon {
  @include make-spacer('mr', 2);

  flex-shrink: 0;

  svg,
  img {
    object-fit: cover;
  }
}

.icon {
  @include size(rem(29px));

  svg {
    fill: var(--sub-text);
  }
}

.country {
  @include size(rem(29px), rem(16px));
}
