@import "scss/config";

.block {
  @include make-spacer('pl', 3);
  @include make-spacer('pr', 2);
  @include flex($align-items: center);

  position: relative;
  height: 45px;

  &:hover {
    background-color: var(--primary);
    color: var(--text-for-material);

    &::before {
      width: 4px;
    }

    .icon {

      svg {
        fill: var(--text-for-material);
      }
    }
  }

  &::before {
    @include size(0, 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--link);
    content: '';
  }
}

.country,
.icon {
  @include make-spacer('mr', 2);

  svg,
  img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }
}

.icon {
  @include size(29px);

  svg {
    fill: var(--sub-text);
  }
}

.country {
  @include size(29px, 16px);
}
