@import "scss/config";

.block {
    @include make-spacer(p, 2);
    @include size(100%);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20px);
}

.row {
    @include wrapper;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    color: var(--color-white);
}

.cell {
    @include transition(all);
    @include flex(center, center);

    background-color: var(--color-thunder);
    border-right: rem(1px) solid var(--color-border);
    border-bottom: rem(1px) solid var(--color-border);
    gap: rem(10px);
    opacity: 0.6;

    button {
        @include make-spacer(p, 1)
    }

    &:nth-child(even) {
        background-color: var(--color-heavy-metal);
    }

    &.active {
        opacity: 1;
        background-image: linear-gradient(0deg, #294329 0%, #00a900 52%, #00a900 100%);
    }
}

.grid {
    @include size(100%);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(20px);
}

.column {
    @include flex($direction: column-reverse);

    .odd {
        animation: 550ms ease-in-out 0s 1 normal forwards running bounce;

        //&:last-child {
        //  animation: 550ms ease-in-out 0s 1 normal forwards running bounce;
        //}
    }
}

.odd {
    animation: 550ms ease-in-out 0s 1 normal forwards running bounce;
    height: rem(102px);
}

@keyframes bounce {
    0% {
        transform: translateY(-500px)
    }
    30% {
        transform: translateY(0)
    }
    50% {
        animation-timing-function: ease-out;
        transform: translate3d(0, -30%, 0);
    }
    100% {
        animation-timing-function: ease-in;
        transform: translateZ(0);
    }
}
