@import 'scss/config';

.block {
  @include size(100%);

  display: grid;
  position: relative;
  grid-template-columns: rem(270px) 1fr;
}

.odd,
.label {
  flex: 1;
}

.left {
  padding-top: rem(50px);

  .row {
    display: grid;
    grid-template-columns: rem(35px) 1fr;
    align-items: center;
    column-gap: rem(10px);
  }

  .results {
    border-top: rem(3px) solid var(--color_orange_900);
    border-bottom: rem(3px) solid var(--color_orange_900);
    border-left: rem(3px) solid var(--color_orange_900);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}

.right {
  overflow: hidden;

  & > * {
    padding: 0;
  }

  .results {
    border-top: rem(3px) solid var(--color_orange_900);
    border-right: rem(3px) solid var(--color_orange_900);
    border-bottom: rem(3px) solid var(--color_orange_900);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  .row {
    @include flex;
  }
}

.results {
  overflow: hidden;
}

.slide {
  height: 100%;
  padding-top: rem(8px);
  overflow: hidden;
}

.head {
  @include flex;

  position: relative;
  height: rem(42px);
  padding-right: rem(3px);

  .column {
    border-top: rem(1px) solid var(--color_border);
  }
}

.row {
  height: rem(52px);
  border-top: rem(1px) solid var(--color_border);
  text-align: center;
  background-color: var(--color_mine_shaft);

  &:nth-child(odd) {
    background-color: var(--color_thunder);
  }

  &:first-child {
    border-top: 0;
  }
}

.column {
  @include flex(center, center);

  position: relative;
  flex: 1;
  height: 100%;
  border-right: rem(1px) solid var(--color_border);

  &:last-child {
    border-right: 0;
  }
}

.odd {
  @include odd;
  @include flex($direction: column);

  &.sm {
    font-size: rem(14px);
  }
}

.position {
  @include flex(center, center);
  @include size(100%);

  text-align: center;
}

.meta {
  display: grid;
  grid-template-columns: rem(40px) 1fr rem(20px) 1fr rem(40px);
  align-items: center;
  height: 100%;
  font-size: rem(15px);
  text-align: center;
}

.legend {
  @include absolute-center-top(rem(-8px));
  @include make-spacer(px, 1);
  @include make-spacer(py, half);

  display: inline-block;
  z-index: 1;
  border-radius: var(--border-radius);
  font-size: rem(10px);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-white);
  background-color: var(--color_primary);
}

.logo {
  @include make-spacer(p, 1);
  @include size(rem(40px));

  img {
    object-fit: contain;
  }
}

.states {
  @include flex(center, center);

  gap: rem(5px);
}

.state {
  @include make-spacer(mt, 1);
  @include size(rem(5px));

  border-radius: 50%;
  overflow: hidden;

  &.w {
    background-color: var(--color_green);
  }

  &.l {
    background-color: var(--color_red);
  }

  &.d {
    background: var(--color_orange_900);
  }
}
